[2017-01-14 11:25] henninghorn opened #1 "iOS: Live reload seems broken (Mac OS)"
Hi @centrual

Somehow the live reload functionality seems broken for me, when I run:
$ `cordova run ios -- --live-reload` from my project folder

It's a completely clean project.

I get the following from the iOS simulator:
![skaermbillede 2017-01-14 kl 12 09 10](https://cloud.githubusercontent.com/assets/742607/21954491/5dad1570-da52-11e6-9722-5fd59f7507a6.png)

I'm running Cordova 6.4.0 and Node

[2017-01-14 22:42] centrual commented on #1
Same page coming to me on my computer too, but in my computer, after i pressed button on top, page coming. Also in my android phone, it redirects automatically. Can you try buttons for check?

cordova-plugin-browsersync not related with me, i'm using it for development. but i can make new version of it if it's not working for you. 😄

**Update:** I started to make new cordova browsersync plugin. Be

[2017-01-15 09:50] henninghorn commented on #1
$ `cordova emulate browser -- --live-reload`
This gives me the browsersync error screen when it starts, but after clicking the link I get into the app. And visiting the `localhost:3000` URL manually also works great.

$ `cordova emulate ios -- --live-reload`
This also gives me the browsersync error screen, but clicking the links have no effect.
Manually visiting the URL doesn't work as well, the b

[2017-01-15 10:06] centrual commented on #1
I searched about localhost connection in ios simulator. I think there is a bug about localhost connection inside ios simulator. Are you using latest version of xCode and ios?

I checked the solution and i found this changelog:

https://developer.apple.com/library/content/documentation/Xcode/Conceptual/RN-Xcode-Archive/Chapters/xc7_release_notes.html#//apple_ref/doc/uid/TP40016994-CH5-SW2

They say

[2017-01-15 11:48] henninghorn commented on #1
I've tried opening `localhost:3000` on my Mac which is running the iOS simulator, and the browsersync server doesn't seem to run at all.

But when running `cordova emulate browser -- --live-reload` the server is up and running.

Btw I was running iOS 10.2 on the simulator :)

[2017-01-15 11:52] centrual commented on #1
ooh, i understand better now. I am sorry, my English not fluent, i trying to learn... 👼

I'll fix this problem on new webpack-dev-server version.

[2017-01-15 17:34] henninghorn commented on #1
No worries 😄

[2017-01-16 15:25] centrual commented on #1
I made everything. ~everything working except hot-module-replacement. When i change something, page becomes white screen and there is no error.~

~Is anybody knows how can i configure hot-module-replacement?~

I added hot module replacement too! 🙌

[2017-01-16 19:14] centrual commented on #1
Can you check with latest release @henninghorn . It must be fixed.

[2017-01-20 12:13] henninghorn commented on #1
Hi @centrual

I've just tried, but unfortunately I'm getting the following error when I make a change to a file while running in live reload mode:

[code]

If I visit `localhost:8080` from my browser on my computer I see the F7 app, but as soon as I make a change the Webpack server crashes and I get the error above.

I do not now what is causing this.

If I run `cordova emulate browser -- --live-r

[2017-01-20 12:31] centrual commented on #1
@henninghorn Thanks for feedback. I haven't mac and iPhone, but i'll try inside virtual machine in 1 week.

(Note: I think EPIPE can be related with write a file. Can you add privilenge to main folder for write and read)

Have a great day!

[2017-01-21 05:50] centrual commented on #1
@henninghorn I updated webpack-dev-server and webpack to 2.2.0 Release. Can you check with new webpack release?

[2017-01-22 16:30] henninghorn commented on #1
@centrual I just tried re-downloading your template, also ensuring that the template was indeed using webpack 2.2.0, but unfortunately it doesn't work.

[code]

I don't believe the EPIPE error has something to do with permissions, I think it has something to do when "privilige" to output to the screen or something like that.

Normally when I run webpack in a Vue project, Webpack stays in the termi

[2017-01-24 07:57] centrual commented on #1
Hello @henninghorn;

I installed mac os into the wmware. Checked the problems and i understand why it's happening.

Some problems in Mac OS:
1) Needs xCode and sometimes returns: `Error: xcode-select: error: tool 'xcodebuild' requires Xcode, but active developer directory is a command line tools instance`. This is the solution for error: https://github.com/nodejs/node-gyp/issues/569#issuecomment-2

[2017-01-24 12:07] PaulMaly opened #2 "cordova emulate android doesn't work"
Error: Error happened when webpack build: Error: stdout maxBuffer exceeded

[2017-01-28 09:33] centrual commented on #2
Hello @PaulMaly

I saw same error in mac os. i waiting `extract-text-webpack-plugin` release for next update.
I know the fixes, but we need to wait some more days for update. Because some problems happening in `extract-text-webpack-plugin`.

Have a great day!

[2017-02-01 20:15] cbrhex opened #3 "use this.$router.load(...) in main.vue"
Hi. I need make a redirect in main.vue, but `this.$router` is undefined. How can I do that? thx.

[2017-02-01 20:22] centrual commented on #3
Hello @Cyber-host i'll check this bug tomorrow.

Have a great day!

[2017-02-01 20:50] insign opened #4 "White screen (Linux OS)"
Sorry If I skipped any step but, running `cordova run browser -- --live-reload` show the right title, but the page is completely white. Is it right?

Great project, thanks.

[2017-02-01 20:53] insign commented on #4
![image](https://cloud.githubusercontent.com/assets/1113045/22525729/3cd22706-e8a7-11e6-95cb-c9e9aaf91832.png)

I'll try to downgrade npm...

[2017-02-01 20:57] insign commented on #4
If downgrade to 4.x I get the error again (the error that I solved upgrading the node):

`Error: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode`

[2017-02-02 12:09] centrual commented on #4
Hello @insign

First problem about node-sass dependency. They updated library 2 days ago. You can check from https://github.com/sass/node-sass/releases . You need to redownload node-sass for fix. I haven't linux environment currently, i'll update the template soon, so i'll test everything in mac os too.

Second problem about ES6. Template's minimum requirement is node version 6.5.0 because of ES6

[2017-02-02 12:25] insign commented on #4
Ok, I can be a tester of Linux if you need.

[2017-02-02 12:32] centrual commented on #3
Hello @Cyber-host

I checked the problem with this template and framework7's webpack template. Same problem exists in the Framework7's webpack template too. I opened issue at https://github.com/nolimits4web/Framework7-Vue-Webpack-Template/issues/11

Have a great day!

[2017-02-02 12:36] centrual commented on #4
@insign It can be great!

[2017-02-03 01:49] insign commented on #4
Please, verify ASAP, this project is amazing.

[2017-02-03 13:14] cbrhex opened #5 "f7 router events"
Hi. I have to make redirect when authorized user going to the login page. How can I use f7 router events?

[2017-02-03 13:48] centrual commented on #5
Same as framework7-Vue. You can check from http://framework7.io/vue/navigation-router.html

[2017-02-03 15:59] Misavan opened #6 "Strict mode"
After success install current template, when I run
[code]
it fails, with

[2017-02-03 16:32] centrual commented on #6
It's about to node js version. Can you update your nodejs version to > 6.5.0?

[2017-02-03 16:33] #6 closed, assigned to centrual

[2017-02-04 10:57] cbrhex commented on #5
yes, yes. Thank you.

[2017-02-04 10:57] #5 closed, assigned to centrual

[2017-02-08 04:12] centrual commented on #3
@Cyber-host Vladimir answered the question. Please look at:
https://github.com/nolimits4web/Framework7-Vue-Webpack-Template/issues/11

Have a great day!

[2017-02-08 04:12] #3 closed, assigned to centrual

[2017-02-08 17:04] triasrahman opened #7 "How to load images from src/assets/static/images ?"
I stored the images on `src/assets/static/images` as on template. But how to load it to app? Since there is no images on www folder.

[2017-02-08 19:35] centrual commented on #7
Hello @triasrahman

This problem mostly related with webpack. I can't find any easy way to do it. You can do like:

modify main.vue file with:

[code]

and

[code]

or you can use css backgrounds.

[2017-02-09 16:34] silasmatheus opened #8 "statusbar-overlay not working in IOS"
statusbar-overlay should be inserted in body context, but it is not possible in this model (body > div id="app" > body). How should we does?

![image](https://cloud.githubusercontent.com/assets/1700605/22792717/d00d8d52-eed4-11e6-90c6-9c289e55badf.png)

[2017-02-11 04:37] centrual commented on #8
You asked same question in framework7-vue issues. You can see the answer there: https://github.com/nolimits4web/Framework7-Vue/issues/95

Have a great day!

[2017-02-11 04:37] #8 closed, assigned to centrual

[2017-02-11 22:35] #7 closed, assigned to centrual

[2017-02-14 20:52] gnjuguna opened #9 "White screen on android (ios and browser working fine) (Mac OS)"
I am running cordova run android and I am getting the error at the bottom.

I have a service (item.js) thats getting a json array as follows:

[code]

Then I have a items.vue file below.

[code]
The error generated on android is below.

 file:///android_asset/www/19699c910e8139766b4c.main.js: Line 27217 : Uncaught SyntaxError: Unexpected token )
E/Web Console(13580): Uncaught SyntaxError: Unexpect

[2017-02-22 01:16] veslorens opened #10 "HOW TO: Import custom JavaScript file/library?"
Could you please help me on how to and where to import custom JavaScript file and/or library or from a CDN?
Because usually I just inject it at the bottom part of the `<body>`, but it seems that this has a different method. Thank you so much.

[2017-02-22 07:14] centrual commented on #10
Hello @veslorens

Node js has not a way to load url in `require` method.

You have three way to do this:
- Check is there a package in npmjs first. If there is an npm package you can install it with `npm install` command. You can do it yourself with fork repo and add package.json file if there is github page but it haven't package.json.
- Download required files (with all dependencies) from cdn an

[2017-02-23 05:50] Grogglex opened #11 "Device ready in browser mode? (Linux OS)"
I'm wondering if there is any way to listen for the `deviceready` call in this setup from running it in the browser or building it?

https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-device/

I can't seem to catch that event. Any experience with this?

This is more of a Cordova issue. I'll close it.

[2017-02-23 07:12] centrual commented on #11
You can use directly with this template. It's automatically injects platform's cordova file, so you can catch `deviceready` event.

[2017-02-23 08:06] veslorens commented on #10
Hi @centrual

I'll try these methods you mentioned.
Thank you so much for your help.

Cheers!

[2017-02-23 15:06] Grogglex commented on #11
I thought maybe it was available in the browser (device.uuid) but it doesn't seem to be. It says it works for browser but I'm finding that the event is never firing. Could it have to do with the 404 on cordova.js on local live reload mode?

[2017-02-23 15:12] centrual commented on #11
Interesting, it's working for me.

What's your OS? if it's mac os, there is a problems with it.

[2017-02-23 15:13] Grogglex commented on #11
It's Arch Linux. Can you show me where you're listening for the event? You're running `cordova run browser`? And you're using the Cordova device plugin? I'll try to follow what you have and see if it's a Linux issue.

[2017-02-23 15:20] centrual commented on #11
it's not working in mac os, so i think there is a problem in linux too. I am using windows. Windows working, but mac os doesn't working. I'll update the template when `extract-text-webpack-plugin` new version released.

Template adds `cordova.js` script tag to index.html automatically with cordova hook when you use command `build`
Template injects correct `cordova.js` file to page automatically wh

[2017-02-24 08:13] alberto-bottarini opened #12 "Including cordova plugin js file (Linux OS)"
I'm using this cordova plugin https://github.com/jeduan/cordova-plugin-facebook4, but during a ```cordova run browser -- --live-reload``` its js file get ignored.
Everything works if I run ```cordova run browser```.

How can I tell cordova to include some other plugins using your template?

[2017-02-24 08:18] centrual commented on #12
Hello @alberto-bottarini

This template, copies all cordova related assets to `www/cordova_platform_files/` directory and it loads from there.

Can you check your files inside of `www/cordova_platform_files/` after `cordova run browser -- --live-reload` command? If you find which files are missing, i can update copy code with this information.

Have a great day!

[2017-02-24 08:41] alberto-bottarini commented on #12
I think we have a problem.
If I run ```cordova run browser -- --live-reload```, only one file gets copied in www, and this is the "standard" cordova index.html, the one that displays ```Waiting for device ready...```.

It's weird because in the browser everything works great :)

Correct files get copied only if I run ```cordova run browser```.

Thanks

[2017-02-24 08:58] centrual commented on #12
So it's seems currently not working in linux too. If you have windows OS, can you test in windows OS too?

I'll make update when `extract-text-webpack-plugin` released. Because currently `extract-text-webpack-plugin` have big issues with webpack 2 in mac os and probably in linux too.

If there is no `cordova_platform_files` folder in `www` after run command, it means `hookers.js` not worked good.

[2017-02-24 09:23] alberto-bottarini commented on #12
Yes of course. But i'm totally new to cordova so you have to tell me exactly what I have to do :)

[2017-02-25 11:39] centrual commented on #9
Hello @gnjuguna

It's not template related problem.

You need to change `item.js` like that:
[code]

You need to change your vue file like that:
[code]

[2017-02-25 11:40] #9 closed, assigned to centrual

[2017-02-25 11:46] #10 closed, assigned to centrual

[2017-02-25 11:47] centrual commented on #4
@insign I started to make new version. Keep in touch. ~You can track https://github.com/centrual/cordova-template-framework7-vue-webpack/projects/1.~

I updated the template. Can you read instructions and check one more time?

Thank you so much.
Have a great day!

[2017-02-25 17:30] centrual commented on #1
Hello @henninghorn

I updated template and readme file. I tested in MacOS. Can you read instructions from https://github.com/centrual/cordova-template-framework7-vue-webpack/ and test it?

Thank you so much.
Have a great day!

[2017-02-25 17:32] centrual commented on #2
Hello @PaulMaly

I updated the template. Can you read instructions and check one more time?

Thank you so much.
Have a great day!

[2017-02-25 17:33] centrual commented on #11
Hello @Grogglex

I updated the template. Can you read instructions from https://github.com/centrual/cordova-template-framework7-vue-webpack/ and check one more time?

Thank you so much.
Have a great day!

[2017-02-25 17:34] centrual commented on #12
Hello @alberto-bottarini

I updated the template. Can you check instructions from https://github.com/centrual/cordova-template-framework7-vue-webpack and test template?

Thank you so much.
Have a great day!

[2017-02-27 09:25] henninghorn commented on #1
Hi @centrual

Hot reload/live reload works by following the "WARNING"-instructions.

Great work! 👍

[2017-02-27 16:15] Grogglex commented on #12
Hi @centrual What's the simplest way to upgrade to the new template from a currently existing project? I'd like to use the `device ready` functionality in an existing project.

[2017-02-27 16:33] Grogglex commented on #11
The issue is on Linux I don't think we can add Ios as a platform?

[2017-02-27 16:46] Grogglex commented on #12
It seems like it's definitely to do with the hooker.js library. The diff is definitely between `run browser` and `run browser --lr`.

If I run `run browser` I get the following output:
[code]

And when I run `cordova run browser -- --lir` I get:

[code]
Could it have something to do with:

[code]

[2017-02-27 17:00] centrual commented on #12
I updated the library currently, can you update? (you need to create new project with `cordova create project_dir --template cordova-template-framework7-vue-webpack` command)

and infos are correct. It seems working good, just you need to upgrade library.

[2017-02-27 17:03] Grogglex commented on #12
Sure. I can do that. Is there a way to update my existing project? Thanks man. Also, I'll likely be using this framework for the next while so if I find a way to improve your project I'll make a PR.

[2017-02-27 17:04] centrual commented on #11
Your problem about webpack output, not about ios. Just re-create project and copy your project files into new project and everything will work. (My english is not very good, sometimes i can write meaningless or hard cues, i'm sorry for that)

[2017-02-27 17:11] centrual commented on #12
Currently there is no way to upgrade, but you can do it manually if you want. Overwrite this files with github files:

* template_src/hooks/beforedep.js
* template_src/hooks/hookers.js
* template_src/webpack/dev_helpers/device_router.html
* template_src/webpack.config.js
* template_src/package.json

open terminal or command line tool and change directory to your project root folder (`cd /your/proj

[2017-02-27 17:29] Grogglex commented on #12
Hrrm I must be missing something centrual, I've changed the files:
[code]
but it doesn't seem to be using your new config.

[2017-02-27 17:49] Grogglex commented on #11
No worries! Thanks I'll try it out.

[2017-02-27 18:26] centrual commented on #12
did you used npm i and npm update commands?

[2017-02-28 05:43] Grogglex commented on #11
Solved by #12

[2017-02-28 05:43] #11 closed, assigned to centrual

[2017-02-28 05:44] Grogglex commented on #12
Yeah, I got it working with your help. Thanks.

[2017-02-28 15:39] luckynum7 opened #13 "Need help: white screen on adobe phonegap build"
## Background:

Hi,

I purchased the apple developer program, and don't have a Mac. I need to build an app for both android and iphone.

I work in my own docker [image](https://hub.docker.com/r/timefairy/asdfsdkman/) with docker-compose ([config](https://gist.github.com/luckynum7/a00a904c914608fc2b1fa444bcfc9226)), and test the code on an android with usb plugged.

The live-reload works. It shows

[2017-02-28 15:40] centrual commented on #13
Hello @luckynum7

You can debug your app with http://geeklearning.io/apache-cordova-and-remote-debugging-on-ios/. It will display network errors (missing files), html structure and javascript errors. This infos can be very helpful for fix the problem.

You don't need mac for build iphone apps. You can use virtual machine ( you can run mac os image in `wmware workstation` ). You can develop inside

[2017-02-28 20:55] nolimits4web opened #14 "Slack invite"
Hey Oğuz! I want to add you to F7 developers and contributors Slack channel! Could you email me at nolimits4web@gmail.com and I will send you invite

[2017-02-28 21:32] centrual commented on #14
Thank you so much for invite. Closing the issue.

[2017-02-28 21:32] #14 closed, assigned to centrual

[2017-03-01 07:29] boring2 opened #15 "when I execute 'cordova platform add ios', something wrong."
when I execute 'cordova platform add ios', some error below:
Error: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode

how to fix it
thanks

[2017-03-01 08:47] boring2 commented on #15
when I use node(v6.5) fix it issue.

[2017-03-01 08:47] #15 closed, assigned to centrual

[2017-03-01 18:42] kuez opened #16 "Block-scoped declarations (let, const, function, class) not yet supported outside strict mode"
Hi, i have this issue after to try to add some platform:

PS D:\***> cordova platform add android
Adding android project...
Creating Cordova project for the Android platform:
        Path: platforms\android
        Package: ************
        Name: *********
        Activity: MainActivity
        Android target: android-25
Subproject Path: CordovaLib
Android project created with cordova-android@

[2017-03-01 18:50] centrual commented on #16
Update your nodejs version to > 6.5.0

[2017-03-01 18:51] #16 closed, assigned to centrual

[2017-03-02 13:23] coedycode opened #17 "src/assets/static/images not copied to phonegap platforms"
Hi, I've added a favicon.png file to the src/assets/static/images directory in my project, but

`phonegap build browser`

doesn't copy it to anywhere.

Is there something in a config file that needs turning on?

[2017-03-03 04:02] insign commented on #4
I really thank you, but for now, I'm trying Quasar Framework.

[2017-03-03 15:35] Em-AK opened #18 "build --release is failing in webpack"
cordova build android
is successfuly building in `platforms/android/build/outputs/apk/android-debug.apk`

But when I want to build a release with

    cordova build android --release

webpack build is failing with :

[code]

I tried to change `webpack.config.js:L77-78` according to this messages without success.

[code]

[2017-03-03 15:52] Em-AK commented on #18
My current workaround is to launch

    cordova prepare

then

    cordova compile android --release

so that webpack compiles as usual without the release flag. The outputed JS may not be optimal but it runs.

[2017-03-04 19:05] cuduy197 opened #19 "How to start?"
How to run or build ???

[2017-03-04 20:45] centrual commented on #18
Are you using latest version of template?

[2017-03-04 20:45] centrual commented on #19
Please read the docs from https://github.com/centrual/cordova-template-framework7-vue-webpack

[2017-03-04 20:47] centrual commented on #17
You need to require image files like `require('./assets/static/images/imagename.png')` in main.js (or somewhere else linked with main.js).

also you need to use return value of require command. Because path and image name will change after compile like `abcdefghjklmno.png`.

[2017-03-05 07:27] cuduy197 opened #20 "Add Cordova Browser-Sync Plugin ?"
https://github.com/nparashuram/cordova-plugin-browsersync

Will you add this plugin ??

[2017-03-05 07:28] cuduy197 commented on #19
sorry my bad ^^!

[2017-03-05 18:41] coedycode commented on #17
Thanks for the explanation, I hadn't realised webpack did that, I thought it only handled the js and css build processes.

[2017-03-05 18:41] #17 closed, assigned to centrual

[2017-03-05 18:52] Em-AK commented on #18
No, I am running 1.0.6

I will upgrade to the latest version and keep you posted. Is there another way than manually updating the files that changed since 1.0.6 to upgrade ?

[2017-03-05 19:26] centrual commented on #20
Hello @cuduy197

I started with it, but changed to webpack-dev-server which has hot-code-push. Please read the informations about template from https://github.com/centrual/cordova-template-framework7-vue-webpack before start project.

Have a great day!

[2017-03-05 19:26] #20 closed, assigned to centrual

[2017-03-05 19:30] centrual commented on #18
replace your project's
[code]

files with current version's. (check template_src folder)

[2017-03-05 19:31] #19 closed, assigned to centrual

[2017-03-11 17:20] wakiem commented on #7
Thank you! This worked for me for images in HTML. Is this still the best solution?

But I can't get images from css and from js to work. For example, setting the css background with js:
`$$('#some-element').css('background-image', 'url("./static/images/some-image.png")');`

Do you have an example?

[2017-03-11 17:38] centrual commented on #7
Maybe it's not, but I'm using the same as I wrote.

This template using vue.js, so you need to catch HTML elements inside vue. Also, if you looking image path in CSS, you can use `url('../images/image-name.jpg')`

I recommend you to work with vue.js before developing an application with this template.. Because of the usage of vue different than HTML and jquery.

Have a great day!

Note: Bad Englis

[2017-03-11 22:47] centrual commented on #18
Is problem fixed?

[2017-03-14 05:05] centrual commented on #18
Hello @Em-AK;

I updated the dependencies and tested in my local. Please check one more time.

Have a great day!

[2017-03-15 12:52] coedycode commented on #18
Hi @Em-AK I've been seeing similar error output when running a build release.

In my case I found running the webpack process on it's own

`./node_modules/.bin/webpack --env.release`

gave a more verbose error report, and the problems turned out to be Uglifyjs finding syntax errors in my vue components (I've been using ES2105 and there's no babel step in the release build, but the ES2015 is all su

[2017-03-15 18:35] centrual commented on #18
@coedycode I updated the template, can you test with latest update?

Thank you so much 😃

[2017-03-15 21:53] baberuth22 opened #21 "Material Theme?"
Can I use the material theme?  I imagine it would require some components to be material specific as there dom is different.  Or perhaps the components can make use of v-if="$theme.ios" and v-if="$theme.material".

I

[2017-03-15 22:06] centrual commented on #21
You can use every feature of framework7 and framework7-vue. Just look at the src/main.js for imports. Also [framework7-cli](https://github.com/nolimits4web/framework7-cli) can helps you for make app with material and ios at same time.

[2017-03-15 22:06] #21 closed, assigned to centrual

[2017-03-16 09:50] coedycode commented on #18
@centrual  I've updated my copy to the latest webpack config and hookers, with the .bablerc removed I get  similar error messages to before, but with .bablerc there the build works fine.

Thanks for this great build tool btw, it's really helped me get started with phonegap.

[2017-03-16 12:16] centrual commented on #18
Hello Richard;

I changed uglifyjs plugin to another one. Also, i updated dependencies. So please create new project and move your project files inside it.

Have a great Day!

[2017-03-19 12:02] centrual commented on #1
@henninghorn Thanks for feedback, i closing the issue.

[2017-03-19 12:02] #1 closed, assigned to centrual

[2017-03-19 12:03] #2 closed, assigned to centrual

[2017-03-19 12:03] centrual commented on #4
Okay, thank you too @insign. Closing the issue.

Have a great day!

[2017-03-19 12:03] #4 closed, assigned to centrual

[2017-03-19 12:05] centrual commented on #12
Thanks for feedbacks. Closing the issue.

[2017-03-19 12:05] #12 closed, assigned to centrual

[2017-03-19 12:44] centrual commented on #18
I tested the latest version, because of that i closing the issue.

[2017-03-19 12:44] #18 closed, assigned to centrual

[2017-03-22 04:29] eltonmkw opened #22 "How to make this template compatible to both platform?"
Hi,
I'm looking forward for this template do support for both Android and iOS platform. With this compatibility, I can develop much powerful app with its dynamically.
Thanks! 😄

Refer: https://framework7.io/tutorials/maintain-both-ios-and-material-themes-in-single-app.html

[2017-03-23 11:03] HoldSkill opened #23 "how to compress the html code in vue file?"
hello, how to compress the html code in vue file? should i change the configure of webpack.config.js?thank you~

[2017-03-23 11:19] centrual commented on #23
Compression means gzip, rar, zip etc. Why compression needed also how is related with this template?

If you asking minify, when you add --release to the command, it's automatically adds uglify js, so your javascript files become uglified ( uglify = minify + naming obfuscate ). Also everytime it minifies generated html file.

[2017-03-23 11:25] centrual commented on #22
Actually, you can, but it's not very easy also not performant.
I want to contribute to https://github.com/nolimits4web/framework7-cli . In f7-cli very easy to manage ios and android.

[2017-03-23 11:38] HoldSkill commented on #23
[code]
i try to use this code to test my project
![image](https://cloud.githubusercontent.com/assets/25190239/24245834/784ccd7a-0fff-11e7-9dfd-460b442e87e4.png)
as you can see, when i use that code to compress, it seems to not work. but i can use the HtmlWebpackPlugin to compress html code, then these five div can display inline-block.

[2017-03-23 11:38] HoldSkill commented on #23
thanks for your help, have a greate day~

[2017-03-23 11:49] centrual commented on #23
edit like that:
[code]

[2017-03-23 13:22] HoldSkill commented on #23
very helpful! but could you teach me to change the configure of `webpack.config.js`?

[2017-03-23 19:38] HoldSkill commented on #23
well , i got the answer:
`
            rules: [{
                test: /\.css$/,
                use: [{
                    loader: "style-loader"
                }, {
                    loader: "css-loader"
                }]
            }, {
                test: /\.useable\.css$/,
                use: [{
                    loader: "style-loader/useable"
                }, {

[2017-03-23 19:38] HoldSkill commented on #23
well , i got the answer:
[code]

[2017-03-23 19:39] HoldSkill commented on #23
use preserveWhitespace: false in vue-loader options

[2017-03-23 19:39] HoldSkill commented on #23
use `preserveWhitespace: false` in vue-loader options

[2017-03-23 19:39] #23 closed

[2017-03-24 02:25] HoldSkill opened #24 "how to use <keep-alive> in this template"
excuse me, how to use <keep-alive> in this template?
i want to judge the current page to remove css, but destroyed not working.
Thank you
[code]

[2017-03-24 03:26] eltonmkw commented on #22
Great insight, thank you @centrual , I didn't know Framework7 provides CLI across these times. Haha :rofl:

[2017-03-24 06:24] #22 closed, assigned to centrual

[2017-04-01 10:10] cuduy197 commented on #7
How to using image in components ?

[2017-04-05 04:31] cuduy197 opened #25 "How to config webpack "babel-loader" for js file?"
Im want using babel-loader ? , i edit webpack config like this, app running but it only whitescreen.
How to config webpack "babel-loader" for js file?
[code]

[2017-04-05 04:36] cuduy197 commented on #25
App running but only have whitescreen ...

[2017-04-05 07:59] joedeveloper opened #26 "Where to place / How to reference SVGs for Phonegap use"
I am running into issues using SVGs, during development I had placed svg files in `www/assets/subdirs/files.svg` - this was working fine.

When I then did a phonegap run android, I found that one of the hooks wiped out everything in www/

I then tried to place the svgs in:
src/assets/static/images/svg/subdirs/files.svg
and
src/static/images/svg/subdirs/files.svg

Neither seem to give me any joy, a

[2017-04-05 09:36] centrual commented on #26
You need to import your svg file. You can do this like:
`import mySvgImage from './../static/images/svg/subdirs/files.svg'`
it returns compiled dynamic address to `mySvgImage`.

You need to add variable in vue:
[code]

[code]

[2017-04-05 09:38] centrual commented on #25
This question not about this repository. You need to ask it to webpack community.

[2017-04-05 09:39] #25 closed, assigned to centrual

[2017-04-10 18:43] cuduy197 opened #29 "Pleace help me using babel-loader . [Fixed]"
I try , but could you add babel loader to your template ? :+1:
Because i want using `spread syntax `, plz help me.

[2017-04-10 19:01] centrual commented on #29
1) Open command prompt
2) Go to your project directory ( cd your/project/directory )
3) npm i --save-dev babel-loader babel-plugin-transform-runtime babel-preset-env
4) Open webpack.config.js in your preferred editor
5) Change line 40:
`{test: /\.js?$/, loader: 'source-map-loader', enforce: 'pre'},`
to
[code]
6) create .babelrc to your project root folder with following content:
[code]

You can us

[2017-04-11 01:31] boring2 opened #30 "missing file cordova.js"
when I run cordova run browser -- --lr OR cordova run ios -- --lr
I find some error below. How can I fix it.
http://localhost:8081/platform_cordova_files/browser/cordova.js  404 not found
http://localhost:8081/platform_cordova_files/ios/cordova.js 404 not found

[2017-04-11 01:36] centrual commented on #30
Hello @boring2

As i wrote in the documentation:

If it is not working when you try, please send console output here.

Have a great day!

[2017-04-11 02:06] boring2 commented on #30
@centrual thanks for your answer, but
It is not live-reload way error. I can run my app in browser and phone-emulator at same time by using live-reload mode. but the two platforms have same error .

**in chrome devtool**
GET http://localhost:8081/platform_cordova_files/ios/cordova.js 404 (Not Found)

**in phone-emulator safari devtool**
http://127.0.0.1:8081/platform_cordova_files/ios/cordova.js F

[2017-04-11 02:25] centrual commented on #30
I need console output for define where is the error. Can you write your console output here?

[2017-04-11 02:38] boring2 commented on #30
![screen shot 2017-04-11 at 10 36 49](https://cloud.githubusercontent.com/assets/8493016/24890504/d914f78e-1ea2-11e7-9b57-e9ae69ef6cc4.png)
<img width="1438" alt="screen shot 2017-04-11 at 10 38 08" src="https://cloud.githubusercontent.com/assets/8493016/24890536/ff67d35c-1ea2-11e7-8145-d2665dff5bf0.png">

[2017-04-11 03:04] centrual commented on #30
Thanks for the report, i'm working on it now.

[2017-04-11 03:17] centrual commented on #30
Can you please copy all of the console output here? In my tests with webpack 2.2.1 it returns:

[code]

[2017-04-11 03:23] centrual commented on #30
~Oh, i just found why. Ios file copy not there. Adding...~
Not found bad info...

I tested in Mac OS but i can't find any error. It's copying all files. Also i am using Windows and working well in Windows too. I think your problem about user agents. If you are using device toolbar with iphone configuration, it's automatically changes the user agent, so html file thinks you are connecting in ios, b

[2017-04-11 05:47] cuduy197 commented on #29
:+1:  Thanks you, it work :tada:

[2017-04-11 08:42] cuduy197 opened #31 "How to load mp3 file ?"
I want to using mp3 in my app .
 I using file-loader like this :
` { test: /\.(png|jpe?g|gif|mp3)$/, loader: 'file-loader', options: { name: '[name].[ext]?[hash]' } },`

and require it in modules vuex  :
`export const mp3 = {
    namespaced: true,
    state: {
        music: require('../../assets/static/mp3/music.mp3')
    },
    mutations: {}
};
`
But i can't using mp3? :confused:  what i'm do wr

[2017-04-11 16:29] Matheo13 opened #32 "HMR issue on main.vue"
Hi,

Thank you for your work.
It seems there is an issue with HMR on the first page.
When I try to modify the script tag inside main.vue, It reloads the entire page and I get a white screen, without any errors in the console, do you know why?
I was thinking it was due to modifications on my side but after I started with a new clone of the repo I have the same issue.

Thanks.

[2017-04-11 17:05] centrual commented on #32
Hello @Matheo13

I tested on clean project with this commands:
1) cordova create testproject --template cordova-template-framework7-vue-webpack
2) cd testproject
3) cordova platform add browser
4) cordova run browser -- --lr

and i tested to change main.vue file like:
1) Add new vue component
2) Remove vue component
3) Change property in vue component
4) Change text in vue component default slot
5

[2017-04-11 19:05] centrual commented on #31
Hello @cuduy197

I'm sorry but i can't help you for every webpack problem. Please ask this questions to webpack community: https://gitter.im/webpack/webpack

Have a great day.

[2017-04-11 19:05] #31 closed, assigned to centrual

[2017-04-12 01:39] boring2 commented on #30
I really appreciate it. But I have two platforms ios and browser. They have same error.

[2017-04-12 10:45] Matheo13 commented on #32
Thanks, I take a look on it soon.

[2017-04-12 12:05] HoldSkill opened #33 "how to go to a page by url"
hello~
when i try to use this url `http://127.0.0.1:8081/#/lecture/room/?id=1` to go to the `room.vue` page, the app will go to the index page ? why? thank you very much

[2017-04-12 14:13] centrual commented on #33
Hello @HoldSkill

Please ask this question to framework7 forums or gitter. I didn't used page urls and framework7 navigation before.

Have a great day.

[2017-04-12 14:13] #33 closed

[2017-04-12 14:27] centrual commented on #30
1) What is your operating system. ( Windows, Mac OS, Linux )
2) Is IOS added as platform? ( cordova platform add ios )
3) Is browser added as platform? ( cordova platform add browser )
4) Is your browser loading `browser cordova.js` file or `ios cordova.js file` ( cordova run browser -- --lr )

You can check in your Chrome developer console.
- If `ios platform cordova.js injected` message displayi

[2017-04-12 14:36] Matheo13 commented on #32
I tried again, same issue:

OS: windows 10 64bits

[code]

[code]

![image](https://cloud.githubusercontent.com/assets/9080540/24963163/19d9fa02-1f9e-11e7-949a-fdadceb979b1.png)

[2017-04-12 14:42] Matheo13 commented on #32
(without the warnings it's the same)
[code]

[2017-04-12 14:51] Matheo13 commented on #32
![image](https://cloud.githubusercontent.com/assets/9080540/24963871/1b25d398-1fa0-11e7-8f54-170cdea61e14.png)
The dom isn't empty.

[2017-04-12 14:56] centrual commented on #32
I'm using same OS and same commands and it's working on me. So i can't reproduce in my computer. I can check the problem in your computer via teamviewer. If you want it please send email to centrual@outlook.com for private chat.

[2017-04-12 14:56] Matheo13 commented on #32
Ok, `framework7-root` class is missing on div#app after  HMR, but I don't know why.

[2017-04-12 14:57] Matheo13 commented on #32
could you send me your npm ls --depth=0?

[2017-04-12 14:58] Matheo13 commented on #32
It works if I set class="framework7-root" inside main.vue.
Can you explain me why is there both div#app in index.html and in main.vue?
I guess there is one for vue and one for framework7?

[2017-04-12 14:59] centrual commented on #32
[code]

[2017-04-12 15:15] centrual commented on #32
I think one #app for f7 and the other #app for vue.

[2017-04-12 17:37] HoldSkill commented on #33
thank you ~
 Could you please help me how to use vue-router in this framework template?

[2017-04-12 17:42] centrual commented on #33
Same as framework7. Yok can access framework7 from window.f7.

[2017-04-13 01:40] boring2 commented on #30
Thanks centrual. I finally find the problem that it is my mistakes not about yours totally. I am sorry to take up your valuable time.
The problem is that I open the webpack proxy setting and set the '*' pattern to send the request incorrectly.
Sorry again. You can close this issue, It is not a bug.

[2017-04-14 08:50] Matheo13 commented on #32
I guess I can close this issue, it works with the little hack, I have the same issue on others officials f7-vue starters, maybe I should duplicate it?
Thank you for your (fast) reply!
Have a nice day.

[2017-04-14 08:50] #32 closed, assigned to centrual

[2017-04-16 20:43] dawadam opened #34 "Error when project path have space in folder name"
Small error when `sudo cordova run android` with space in project path.
I'm on linux.
Exemple with `/home/name/Documents/test cordova/project/` :
[code]

[2017-04-17 19:13] centrual commented on #34
Thanks for issue, i'll check soon.

[2017-04-17 19:14] centrual commented on #30
Okay, i closing the issue.

Have a great day.

[2017-04-17 19:14] #30 closed, assigned to centrual

[2017-04-17 19:15] centrual commented on #29
I closing the issue,

Have a great day!

[2017-04-17 19:15] #29 closed, assigned to centrual

[2017-04-17 19:52] centrual commented on #24
Hello @HoldSkill

I am sorry for late response, i missed your issue.

It's not clear but i think it's about vue.js. You can ask this question to [vue gitter from here](https://gitter.im/vuejs/vue) if you want. I didn't used usable styles, so i don't know how i can fix it.

Have a great day!

[2017-04-17 19:52] #24 closed

[2017-04-23 14:23] BHunter2889 commented on #13
@luckynum7 I saw this was still open, so idk if it was solved, but you can build through PhoneGap Build on windows or Linux for iOS as long as you have an app key/certificate. You can get that from the Apple Developer online Dashboard by uploading your code. Also, if you did have access to XCode on a mac, you don't have to have the Dev Membership to generate a certificate for testing (that's where

[2017-04-23 16:18] BHunter2889 opened #35 "Any special Build instructions (once completed)?"
Just curious if this template requires any special build instructions for deployment? To clarify, this build will work for all Phonegap/Cordova supported platforms correct?  Just asking in advance because I've not built a PhoneGap/Cordova app with this many different frameworks or with Node involved. On a deadline, so I'm trying to make this transition as seamless as possible. Thanks in advance!

[2017-04-23 16:24] BHunter2889 commented on #35
Also, this template is very different from the other available default PhoneGap/Cordova templates... Any suggestions on how to go about porting my existing project into this would be much appreciated. Experimenting on my own in the meantime, just thought I'd ask, Thanks!

[2017-04-24 00:13] centrual commented on #35
Hello @BHunter2889

First of all this template uses [Cordova](https://cordova.apache.org/), [Framework7](https://framework7.io/), [Vue.js](https://vuejs.org/) and [Webpack](https://webpack.js.org/concepts/).

So you need to know this combo well for make an app with this template.

I made this template because i want to make an app fast with hot push and cordova. So i added a live reload feature (`

[2017-04-24 08:25] lcaprini opened #36 "Create cordova project from folder"
Hi,
I created a cordova app with your template with cordova cli and after that I commit in my git repo.
In a second PC I download sources with git's checkout, but when I try to execute any cordova cli command I've the following error:

To make it works I had to create a  new cordova project ad after that I had to copy all files from my checkout to it, replacing all files (hooks, www, config.xml, .

[2017-04-24 08:41] centrual commented on #36
Please create empty `www` folder in your project directory. Also please check [this issue](https://github.com/centrual/cordova-template-framework7-vue-webpack/issues/35) for detailed information about template.

Also, you need to create an app with this command:
`cordova create your_app_dir your.domain.address "Your App Name" --template cordova-template-framework7-vue-webpack`

[2017-04-24 08:54] lcaprini commented on #36
Perfect! With empty `www` folder the project is now a Cordova project.
I added
[code]
so my `www` folder remain in git repo but without dinamically created contents.
Thank you for your help.

-L

[2017-04-24 08:54] #36 closed, assigned to centrual

[2017-04-24 21:05] joedeveloper commented on #26
@centrual  Thank you for the insight

I hate to say it, but this seems like a pretty heavy approach - is there really no 'static' folder support?

Would I have to do the same for say sound files?
How would I end up dealing with run-time changes to which svg to show ( as a simple example I have hazard_default.svg, hazard_fast.svg and hazard_slow.svg - which are swapped depending on state). Some wid

[2017-04-25 02:22] centrual commented on #26
You are right. I'll add static folder soon.

[2017-04-25 05:58] centrual commented on #13
Hello @BHunter2889

Currently it's not fixed and i didn't tested it. Also probably phonegap build services not working with this template.

Currently i strongly suggesting to use cordova with this template.

[2017-04-25 07:02] ghost opened #37 "Android: Failed to load resource: net::ERR_CONNECTION_REFUSED"
Hi,

I have some problems with the "livereload" function under android.
First I´ve created a new project, added platforms and tried to run it:

1: `cordova run browser -- --lr`   ----> Everyhing works fine, got directed to 127.0.0.1:8081

2: `cordova run android -- --lr`  ---> I got a connection error.
![screenshot_20170425-084301](https://cloud.githubusercontent.com/assets/27993481/25372378/6d713

[2017-04-25 08:05] centrual commented on #37
Hello @SgtPepper27

It's happening to me too. The problem about webpack-dev-server's last version. It's webpack-dev-server bug. You can track the bug from https://github.com/webpack/webpack-dev-server/issues/882

Also, your problem can be about antivirus or system firewall. Please check firewall configurations.

If you are using emulator, problem can be related with emulator too.

Have a great day

[2017-04-25 09:09] centrual commented on #37
Hello again @SgtPepper27

I updated the template to version 1.1.0. Please use the latest version. I'm waiting your response for close the issue.

Have a great day!

[2017-04-25 11:13] centrual commented on #26
Hello @joedeveloper

I added static folder to project also it will automatically sync with www/static on live-reload. Please check latest version.

Have a great day!

[2017-04-25 11:44] centrual commented on #34
Hello again @dawadam

I fixed the issue and tested in windows. Please check with latest version (1.1.1). I'm waiting for your response for close the issue.

Have a great day!

[2017-04-25 14:53] joedeveloper commented on #26
Thank you so much, will check it out shortly

[2017-04-25 15:09] ghost commented on #37
Perfect, thanks a lot !!

[2017-04-25 16:00] centrual commented on #37
Your welcome @SgtPepper27

Have a great day!

[2017-04-25 16:00] #37 closed, assigned to centrual

[2017-04-27 01:43] luckynum7 opened #38 ""Invalid Host header": --host 0.0.0.0 not working with public ip, due to webpack-dev-server v2.4.3 security fix"
Hi guys,

I'm still use the `1.0.9` version template, after reinstall my pc and checkout my projects. I ran into an error on my test phone, `Invalid Host header` with a white background.

As per https://github.com/webpack/webpack-dev-server/issues/882#issuecomment-296436511, and https://github.com/webpack/webpack-dev-server/releases/tag/v2.4.3,

- Requests are not blocked when `Host` doesn't match

[2017-04-27 02:24] centrual commented on #38
It's already fixed in 1.0.12 also current version is 1.1.1 😄

Have a great day!

[2017-04-27 02:24] #38 closed, assigned to centrual

[2017-04-27 10:00] asifkilwani opened #39 "Vue warn “style” is a reserved attribute"
while testing vuejs + webpack starter template, in console I am seeing this error vue.common.js:431 [Vue warn]: “style” is a reserved attribute
![screen shot 2017-04-27 at 11 59 59](https://cloud.githubusercontent.com/assets/26161221/25478360/111c3f2a-2b41-11e7-9b8c-ed044d42d538.png)
 and cannot be used as component prop.

[2017-04-28 13:01] centrual commented on #39
It's framework7-vue related issue. You can track the issue from https://github.com/nolimits4web/Framework7-Vue/issues/148.

[2017-04-28 13:01] #39 closed, assigned to centrual

[2017-04-29 06:51] centrual commented on #34
Closing the issue...

[2017-04-29 06:51] #34 closed, assigned to centrual

[2017-04-29 06:51] centrual commented on #26
Any updates?

[2017-05-03 12:33] ghost opened #40 "Vuex for better State-Management and Vue-DevTools"
Having some problems with the points in the Header.

**Vue-DevTools:**
while debugging in chrome, vue-devtools plugin will not detect that i'm working on a vue-project.

**Vuex:**
After installing "vuex" and "babel-preset-stage-2" i got following error message after import e.g. { mapActions }

ERROR in ./~/vue-loader/lib/selector.js?type=script&index=0!./src/assets/vue/pages/components/add.vue
Mod

[2017-05-03 13:08] centrual commented on #40
Hello @SgtPepper27

**For babel:** https://github.com/centrual/cordova-template-framework7-vue-webpack/issues/29

**For Vuex:**
`npm i vuex --save-dev`

- Create folder structure like that:

- Open `src/store/index.js`
[code]

Also edit the actions, mutations and getters js files like: https://github.com/vuejs/vuex/tree/dev/examples/shopping-cart/store

- Open `src/main.js`
[code]

and it's ready.

[2017-05-03 13:14] centrual commented on #26
I closing the issue, it seems fixed.

[2017-05-03 13:14] #26 closed, assigned to centrual

[2017-05-03 13:44] ghost commented on #40
Gone through the tutorial #29, but still get the error **"Unexpected token"** => spread syntax still not working.

vuex syntax you postet above is not the problem, but the spread syntax "..."

...mapActions([
          'addAccount'
        ]),

[2017-05-03 13:53] centrual commented on #40
Upgrade your node.js version. Minimum node.js requirement is 6.5.0. You can check with `node -v`

[2017-05-03 21:04] ghost commented on #40
I already have version 7.6.0. Example worked for me as nomal vuejs project with template webpack-simple, but on this template i struggle.

in my standard vuejs project my .babelrc file looks like that:
{
  "presets": [
    ["es2015", { "modules": false }],
    ["stage-2"]
  ]
}

and that´s it to use spread syntax.

[2017-05-03 21:38] centrual commented on #40
Spread syntax about ES6, not about this template. Please check one more time:
[code]
must be added into your file and babel must be configured right.

Also it can be about babel preset. es2015 preset description: `Only compiles ES2015 to ES5`. Spread is ES6 syntax. Please try with env preset too.

Also check is your presets installed with `npm ls --depth=0`. If not you can install with this comman

[2017-05-04 07:10] ghost commented on #40
Now it work´s - Thanks. Following settings worked for me:

**.babelrc:**
{
  "presets": [
    ["stage-2"],
    ["env"]
  ]
}

**webpack.config.js:**
module-->rules-->

{
            test: /\.js$/,
            exclude: /(node_modules|bower_components)/,
            use: {
              loader: 'babel-loader',
              options: {
                presets: ['env', 'stage-2'],
                plug

[2017-05-04 07:27] #40 closed, assigned to centrual

[2017-05-04 09:33] centrual commented on #35
Closing the issue.

[2017-05-04 09:33] #35 closed, assigned to centrual

[2017-05-04 09:45] centrual commented on #25
Answer: https://github.com/centrual/cordova-template-framework7-vue-webpack/issues/29

[2017-05-04 09:53] centrual commented on #17
Hello @coedycode

We have 1 more option now. You can add your image file to static folder and use like:

[code]

Have a great day!

[2017-05-04 10:00] centrual commented on #7
Hello @wakiem

I added static folder to template. You can use static folder too for include your static assets now like:

[code]

Have a great day!

[2017-05-04 10:54] BHunter2889 commented on #35
Apologies for not addressing your previous follow up. This was indeed very useful information. I appreciate the time in helping me resolve my issues. Thanks!

[2017-05-04 11:55] adi-works opened #41 "How to import SASS with root path?"
I'm trying to import a SASS partial, like so:

[code]

It doesn't resolve though.

[2017-05-04 11:57] adi-works opened #42 "Why place `sass` under `assets`?"
Shouldn't it be under `src/sass`?

[2017-05-04 12:17] centrual commented on #42
Because you need to import inside of webpack for compile. I can't make the template for everything, i made base template, you can make your changes on template if you want.

[2017-05-04 12:20] adi-works commented on #41
Ok, apparently this works: `@import '~assets/sass/colors';`

Using tilde. Is that a part of native Webpack config or a plugin of sort? couldn't find it in Webpack docs.

[2017-05-04 12:25] centrual commented on #41
scss is another lang inside of sass. So scss different than sass. I updated the package for scss support in one page component:
[code]

[2017-05-04 12:29] adi-works commented on #41
Scss is not the problem as Sass compiles Scss just fine. The issue is resolved using tilde. Apparently you need that for a Sass import directive (`@import`). I just wonder where exactly it appears in the Webpack docs.

[2017-05-04 18:19] #42 closed, assigned to centrual

[2017-05-04 18:26] centrual commented on #41
I think i didn't understand your question. My English not well enough. i am sorry for that.

I didn't used tilde before. But when i check in google i found this: https://github.com/webpack-contrib/sass-loader#imports

Is the problem resolved already?

[2017-05-04 19:26] adi-works commented on #41
Yes

[2017-05-04 19:26] #41 closed, assigned to centrual

[2017-05-09 19:37] strixy opened #43 "Clean build off master - Error: Cannot find module 'uglify-js'"
Your project looks like fun. I set it up using the command you have in the instructions.
[code]
No errors. One warning that I think may be relevant is:
[code]

I then ran ```npm install```

All good.

When I run webpack I get

[code]

So, I installed the Android platform ```cordova platform add android```

All good.

Then I and ran ```cordova build android```
And I get
[code]
I checked ```node_mod

[2017-05-09 19:46] strixy commented on #43
[code]
Seems to help. Webpack runs without error.

[2017-05-09 19:53] centrual commented on #43
I'll check soon, also i using this template in windows 10 with node.js 7.10.0 and everything working.
This page can help you before my help: https://github.com/webpack-contrib/uglifyjs-webpack-plugin
Uglify JS seems changed lately, it's probably about uglify-js plugin.
For info: For ES6 code minification, you need to use harmony branch of uglify js.

Uglify js only works when you use --release com

[2017-05-10 09:18] asifkilwani opened #44 "iOS simulator with live reload disconnect"
I am running cordova emulate ios -- --lr, Simulator loads fine but any changes in the code it disconnect from Simulator with error [WDS] Disconnected!

I am playing with Cordova plugin and right now it's difficult to re-run the command to test every line of code.

is there any fix for that?

[2017-05-10 10:14] centrual commented on #44
please read the docs.

[2017-05-10 10:27] rafaellupo commented on #43
@strixy @centrual same here. Tried to use harmony branch, and got same results.
btw: MAC, node 7.8.0 NPM 4.2.0

[2017-05-10 10:56] centrual commented on #43
Hello guys,

If you want to create issue on uglify-js git it displays these texts:
[code]

They are changing the uglify js and these changes are not backward compatible.
For ES6 uglify, you need to use `uglify-es` **NOT** `uglify-js`. uglify-js compiles ES5 only!

So since #harmony branch not compatible with v2.x we have 2 choices:
1) We can install 2.8 harmony version of uglify js `npm i --save-d

[2017-05-10 11:31] centrual commented on #43
I published new package to npm

[2017-05-10 11:32] centrual commented on #44
# WARNING (For Linux and Mac OS users):

For live-reload i can't find easy way to do fixed version of this. But you can develop your app with this way:

cordova platform add ios browser (browser needs for development in live-reload mode.)
`cordova run ios -- --lr` (wait till app opens in your ios emulator or phone. it will close console output after publish, so live-reload will not work. don't clo

[2017-05-10 11:32] #44 closed, assigned to nobody

[2017-05-12 08:40] asifkilwani opened #45 "type check failed for prop "infiniteScrollDistance""
Defining scroll distance console throwing error.

<f7-page name="feeds" infinite-scroll @infinite="onInfiniteScroll" infinite-scroll-distance="100">

[Vue warn]: Invalid prop: type check failed for prop "infiniteScrollDistance". Expected Number, got String.
(found in <F7Page>)

However in compiled version I can see data-distance attribute added to page-content
<div data-distance="100" class="page-

[2017-05-12 13:19] centrual commented on #45
Hello @asifkilwani

It's vue or framework7-vue related question. Please don't ask vue related questions here. You can ask in gitter: https://gitter.im/vuejs/vue

If you want to bind non-string value to property, you need to use v-bind. Following code will work:
[code]

Have a great day!

[2017-05-12 13:19] #45 closed, assigned to centrual

[2017-05-14 22:12] #43 closed, assigned to centrual

[2017-05-15 12:39] tstikvoort commented on #38
I'm still experiencing this issue. Cordova version 6.5.0, node 6.9.2, clean install of your template. The app con't connect. After I set `disableHostCheck: true`, the app still doesn't work, although the app is served at `localhost:8081`.

[2017-05-16 08:19] asifkilwani opened #46 "White screen when created build version for Cordova"
I used xCode to compiled the iOS app. When app installed and started, it's showing white screen. I have external js files placed in assets/js/. Those files are not moving to /www folder

[2017-05-18 09:25] centrual commented on #46
Hello @asifkilwani

Firstly you need to learn how webpack works for use this template. You can use static folder for static assets ( `<img src="static/your-image.jpg">` ) or you can assign a variable into the vue for non-static assets:
[code]

Have a great day!

[2017-05-18 09:26] #46 closed, assigned to centrual

[2017-05-18 20:30] strixy opened #47 "Feature request: Vuex"
Any interest in adding Vuex as well? I've used your project here twice and I like it. I look forward to using it more.

I find that adding Vuex is almost always my next step and even when it's not, it's only because I'm rolling my own for very small testing projects. In those cases, I would be just as happy to have Vuex already installed.

This is just a suggestion. You might have other plans or u

[2017-05-18 20:36] centrual commented on #47
Hello @strixy

~Vuex not for everybody. So i haven't plan to add vuex into the template. But you can do it yourself. Check  https://github.com/centrual/cordova-template-framework7-vue-webpack/issues/40 please.~

I changed my mind, adding different versions of the template soon:
cordova-template-framework7-vue-vuex-babel-webpack
cordova-template-framework7-vue-vuex-webpack
cordova-template-framewor

[2017-05-19 18:19] strixy commented on #13
I'm experiencing the white screen of death using Cordova and Android emulator (v7.1.1) via Android Studio. The web dev workflow is fine, but post build I get a blank white screen. The only error I see in Logcat is `E/libEGL(5054): validate_display:99 error 3008 (EGL_BAD_DISPLAY)`

Could this be a whitelist issue? I tried editing the ./config.xml file but something is building that. Not sure from w

[2017-05-21 09:34] ghost opened #48 "Watching the $route changes to fetch data"
Somehow i am not able to watch $route. I have two components: One for the view and one to add new items.

Routes:
[code]

From viewTodos.vue i switch to addTodo.vue but then after $route.back() my view does not update.
I use:

[code]

Here are the $route values for each component:

**viewTodo.vue**
Url: /todos/
Path: /todos/
Route:  {
  "path": "/todos/",
  "component": {
    "watch": {
      "$ro

[2017-05-23 14:48] strixy commented on #13
I built this package from scratch to try and reproduce this error, but I could not. It must be in my code somewhere. Thanks.

[2017-05-24 13:46] ghost commented on #48
I tried a lot the last days, but was not able to watch the route.

I solved it this way - in the "addTodo" component i used:
this.$f7.views.main.refreshPreviousPage();

[2017-05-24 13:48] #48 closed, assigned to nobody

[2017-05-25 16:46] strixy commented on #47
Thank you for agreeing to add Vuex. It appears in the official Vue documentation as the only alternative to DIY state management.

Good idea to mention Babel. Come to think of it, don't you have Vueify already included as well? You should maybe mention that in the docs. That's a big win too.

When you say "Vuex not for everybody", what other options are there besides creating your own? I'm curious

[2017-05-30 18:12] strixy opened #49 "Dom7 not defined w/ Framework7 1.6.2"
A recent upgrade to F7 version 1.6.2 caused a Dom7 not defined error. Confirmed with clean install of current project.
[code]
Rolling back to Framework7 v1.6.0 works, but only as a workaround.
Dom7 becamse a standalone dependency (devDependency (only?)) for F7 at v1.6.2
Does that impact this project?

[2017-05-31 02:57] boring2 commented on #49
I have the same problem by using 1.6.3. It's because the version use strict so 'this' is not undefine. But it is framework7 issue, not cordova-template-framework7-vue-webpack problem.

[2017-06-01 00:32] centrual commented on #49
I'll check when i become free.

[2017-06-03 08:08] centrual commented on #49
Framework7 1.6.4 Released, please update with `npm update`

[2017-06-03 08:08] #49 closed, assigned to centrual

[2017-06-05 03:53] luckynum7 commented on #47
May I mention two JavaScript database here,

1. [PouchDB](https://pouchdb.com/): PouchDB is an open-source JavaScript database inspired by Apache CouchDB that is designed to run well within the browser.
2. [LokiJS](http://lokijs.org/): LokiJS is an in-memory database which prioritises performance over everything

I think both are very popular database for now. I used LokiJS in my project, with Ind

[2017-06-05 20:04] strixy commented on #47
Thank you!

[2017-06-09 22:29] yipcma commented on #44
@centrual  I was running as instructed and got this:
[code]

[2017-06-09 23:12] centrual commented on #44
hello, i'm on phone so i give short answer:

1. Close all node.js programs from task manager
2. It's not related with port but it's good to check: close all java programs from task manager.
3. check 8081 port. If not free, search all '8081' texts in your project files and change all '8081' ports to another port number. It's not hard. probably you need to change 2 files.

if you can't fix, i'll wri

[2017-06-10 00:31] yipcma commented on #44
hi, nth's on port 8081, awaits further instructions. PS: am on macOS

[2017-06-10 00:43] yipcma commented on #47
cordova-template-framework7-vue-vuex-babel-webpack +1

[2017-06-13 07:54] lroal commented on #47
cordova-template-framework7-vue-vuex-babel-webpack +1

[2017-06-19 19:29] mandalmanav opened #50 "Vuex getter error during evaluation"
i have added vuex and getting value of state as "error during evaluation"

![image](https://user-images.githubusercontent.com/28473795/27302214-b1a3cb16-5553-11e7-97ff-3a27e2ab7a4e.png)

here is my code

`<script>
    import { mapGetters } from 'vuex';

	export default{
		  computed:{

                ...mapGetters({
                    repositoryList:'getRepositoryList'
                })

[2017-06-19 19:46] mandalmanav commented on #40
in your webpack add the following
module: {
      rules: [
                ...
                ...,
  {
        test: /\.js$/,
        loader: 'babel-loader'
      }

[2017-06-23 10:54] ghost commented on #50
Seems that this is a syntax problem but not because of the template.

Try:
computed: {
   ...mapGetters(['getRepositoryList'])
}

and then you should have access to the getter like:

this.getRepositoryList()

[2017-06-24 18:04] mdblabs opened #51 "Modules not found"
Hi,
I have just followed initial instructions (create project from template, adding platforms, etc.) when webpack compilation fails (looks like it cannot find modules).

I get several errors like this one:

**ERROR in ./src/app.js
Module not found: Error: Can't resolve 'framework7' in .../Test/src'
 @ ./src/app.js 5:0-19
 @ multi (webpack)-dev-server/client?http://192.168.1.38:8081 webpack/hot/dev

[2017-06-24 18:25] centrual commented on #51
Hello,

It seems auto node modules installation not worked for you. it can be about npm@5.

Can you use `npm i` command in your project folder?

I'm waiting your response.

[2017-06-24 20:08] mdblabs commented on #51
After running it, it installed one packet, then:
[code]

Running cordova again results in same errors.
More details:
[code]
Then, errors.
And, finally:
[code]

Thanks for the fast answer. Any idea?

[2017-06-24 20:27] centrual commented on #51
It's really interesting. So currently i think problem about template codes. I must check. But i need to find internet connection, because i'm in holiday. 😕

I'll check it tomorrow with windows 10, cordova 7, npm 5.

Have a great day 😊

[2017-06-24 21:04] mdblabs commented on #51
OK, yes, no problem. I'm not in a hurry.
Enjoy your holidays!

[2017-06-26 06:10] joedeveloper commented on #26
Sorry for the late response, just cycled back to this project and thank you, it works for me.

[2017-06-28 18:06] rashnk opened #52 "where to add new methods?"

[2017-06-29 04:23] ijry opened #53 "how to listen cordova's backbutton event"
where can i put this code
`document.addEventListener("backbutton", onBackKeyDown, false);`

[2017-07-02 16:15] sunflowerlb commented on #37
I also have this problem . @centrual  @SgtPepper27  Are you solved?

[2017-07-02 16:35] sunflowerlb commented on #38
me too!

[2017-07-05 14:29] tmmsmoreira opened #54 "Tabbar component is not chanching my views and do not change the activated link"
Hi,

I am new at Framework7 and VueJs and I am trying to create an app using PhoneGap. My main goal is to create an app for all mobile devices and have the same UX as native apps. So, I installed the default template that this module sugests. That was my starting point. I want to have an app with different views. Each view will have it's route tree. Each view is a tab so I add a toolbar to jump be

[2017-07-15 13:30] scorpionking2k5 opened #55 "Webpack Error on cordova build | cordova run"
Just after creating a new project using:
`
cordova create <project_create_dir> [com.example.projectname] [ProjectClassName] --template cordova-template-framework7-vue-webpack
`
I did `cordova add platform browser `.
After that on running `cordova run browser`, I'm getting the following:

`Before deploy hook started...
Checking is node modules installed...
Node modules already installed.
Starting w

[2017-07-15 13:37] centrual commented on #55
Can you use `/Users/myuser/Desktop/myproj/node_modules/.bin/webpack` command directly in `/Users/myuser/Desktop/myproj/` folder?

[2017-07-15 13:39] centrual commented on #54
Hello,

I'm sorry but, it's not about the this template. It's about framework7-vue. Please open same issue into framework7-vue issues.

Have a great day!

[2017-07-15 13:39] #54 closed, assigned to nobody

[2017-07-15 14:16] centrual commented on #53
Hello,

You can insert in js files like `src/main.js` or your custom component file. It's coding logic question so i can't help more.

Have a great day!

[2017-07-15 14:16] #53 closed, assigned to nobody

[2017-07-15 14:17] centrual commented on #52
In your custom component file or `src/main.js` file etc.

[2017-07-15 14:17] #52 closed, assigned to centrual

[2017-07-15 14:20] scorpionking2k5 commented on #55
In main.js, I commented out
//import Framework7 from 'framework7'
but still getting this error.
vue and framework7 is undefined or not installed. I ran npm install too, but still the same error.

Hash: 0e8a5cb865c8b52ba7a3
Version: webpack 2.7.0
Time: 1231ms
                       Asset       Size  Chunks             Chunk Names
0e8a5cb865c8b52ba7a3.main.js     106 kB       0  [emitted]  main

[2017-07-15 14:27] centrual commented on #55
Interesting, i think it's not search in node_modules directory.

What is your OS? (Mac, Linux)

[2017-07-15 14:31] scorpionking2k5 commented on #55
It's not. :(

There are vue-loader, vue-hot-reload, vue-template-compiler ... but no vue or fw7.
I'm on OSX 10.11.16

[2017-07-15 14:45] scorpionking2k5 commented on #55
fixed it.
npm install was probably using package-lock.json as a reference. It did not have vue and fw7 defined.
I removed it and ran npm install again. All required deps got installed and its building successfully now.

I'm not very familiar with the concept of package-lock.json . Not sure if it's being written incorrectly or was I missing a flag to choose the original package.json while running n

[2017-07-15 15:03] centrual commented on #55
Oh, thanks for response :)

[2017-07-15 15:03] #55 closed, assigned to nobody

[2017-07-22 19:23] mayoljonathan opened #56 "Error in -- --live-reloading"
It doesn't work with --live-reloading in my case. I tried android and browser and it fails, same error.
It works without the --live-reloading but I need it in development :|

Node version : 7.7.1
Npm version : 4.1.2
Cordova version : 7.0.1

Steps:
[code]

CLI:
[code]

[2017-07-22 19:29] centrual commented on #56
You are right, checking...

[2017-07-22 19:38] centrual commented on #56
Thank you for your report.

Use this command: `npm i loglevel --save`

Also i'll update the template soon.

[2017-07-23 02:39] mayoljonathan commented on #56
Thanks ! Got it now working

[2017-07-23 02:39] #56 closed, assigned to centrual

[2017-07-23 03:34] mayoljonathan opened #57 "Material statusbar overlaying when navigating to other page"
It works on IOS theme styles but on Material Theme the statusbar overlays when navigating to other page.

![2017-07-23_11h20_03](https://user-images.githubusercontent.com/23137338/28496274-6ca36f42-6f9a-11e7-9030-2363ec08cf55.gif)

[2017-07-23 03:52] centrual commented on #57
It's about framework7, please open same topic in [framework7 issues](https://github.com/nolimits4web/framework7/issues). Also please check framework7 version and framework7-vue version with `npm ls --depth=0` command. Framework7 version must be `1.6.4` and framework7-vue version must be `0.9.2`

[2017-07-23 03:53] #57 closed, assigned to nobody

[2017-07-23 03:55] centrual commented on #51
Omg, i missed your issue @mdblabs, i'm so sorry. I updating the package versions soon, it will fix the problem. Thanks for bug report   ❤️

Have a great day!

[2017-07-23 04:01] centrual commented on #56
Dependencies updated. Thank you so much one more time :)

[2017-07-23 04:01] centrual commented on #51
Dependencies updated. Thank you so much one more time :)

[2017-07-23 04:02] mayoljonathan commented on #57
I got it now working. It's on the html template. Thanks for your response :D

OLD:
[code]

NEW:
[code]

[2017-07-25 01:59] mix3d opened #58 "No hooks for Platform specific UI"
I found the build script to be a bit lacking; there's no support for building the Material UI for android builds and Apple design for iOS builds.

Here's what worked for me, but I doubt it's a "best practices" approach.

----------------------------------

Split `main.js` into a `main.ios.js` and `main.android.js`. The latter has the suggested material:true and correct CSS uncommented and iOS remo

[2017-07-31 06:39] augmen opened #59 "adding vue component and registering"
guide us how to add view components and registering them ?

[2017-07-31 06:48] centrual commented on #59
Please look at [Framework7 Vue Docs](http://framework7.io/vue/introduction.html)

[2017-07-31 06:48] #59 closed, assigned to nobody

[2017-08-08 12:08] asifkilwani opened #60 "Strict mode with node npm 8.2.1"
When testing app for Android 5.1, console showing "use of const in strict mode".

I have node 8.2.1. I read few other issues in this repo but can't find solution for node greater than 6.5.

Wondering if compile to ES5 will solve problem for Android 4.x & 5.x?

[2017-08-09 17:49] ryaposov opened #61 "Postcss-loader and its autoprefixer in wepback build process"
Can't get postcss-loader autoprefixer work with this web pack config, could anyone help with there right config options?

Thanks in advance!

[2017-08-15 21:25] u01jmg3 commented on #37
I too am facing this issue. Is there a fix?

[2017-08-16 21:32] ryaposov opened #62 "Wrong cordova.js injected for browser with iOS/Android User-Agent"
**Problem:**
When running in hot-reload mode, with User-Agent that stands for Mobile "platform_cordova_files/ios/cordova.js" is injected in html instead of "platform_cordova_files/browser/cordova.js".

I'm not actually sure how, but that leads to that `deviceready` event is not firing.

**Steps to reproduce:**
1. Run `cordova run browser -- --live-reload`
2. Wait until Chrome is opened, or open `h

[2017-08-16 21:52] centrual commented on #62
It seems you'r using Chrome in mobile mode. Mobile mode sets user agent as iPhone.

You need to create custom mobile phone profile and user agent.

[2017-08-16 21:54] ryaposov commented on #62
Thanks for your answer! But what for I need to create custom mobile agent?
"deviceready" is not supposed to fire in mobile browsers? Is it possible to get it fired in mobile browser?

[2017-08-16 21:57] centrual commented on #62
Device ready will trigger if you load with browser user agent.

[2017-08-16 22:01] ryaposov commented on #62
Well, as far as I know, all User-Agents are browser :)
If I open website in Mobile Safari browser, I open it sending server mobile safari user agent. And in this situation deviceready will not fire, just because I'm opening it in mobile browser, not desktop?
https://developer.mozilla.org/en-US/docs/Web/HTTP/Browser_detection_using_the_user_agent

[2017-08-17 12:38] jyarali opened #63 "links not working"
links not working even in default project on android device (android 4.4)

[2017-08-19 22:16] u01jmg3 commented on #37
@centrual: I too am facing this issue when live reloading to an Android phone **or** emulator.

Are there particular Webpack config settings to fix this issue? I am using the latest version of this template and webpack-dev-server but still getting a connection error.

Would greatly appreciate your help.

[2017-08-27 08:43] yannicklin commented on #39
Fixed?? I still found this issue unfixed.

[2017-09-04 18:21] Pr4chya commented on #63
Same error here!

[2017-09-04 18:22] Pr4chya commented on #63
Me too

[2017-09-17 00:33] jfoclpf opened #64 "How to costumize"
Hi, great template, thanks

I already installed and everything went great, but can you tell us simply how to costumize the template?
Which files? I don't find any relevant file in the folder www/

[2017-09-17 08:02] voicecode-bv commented on #64
Use the src folder and read the docs of this repo:

"www Automatically manages www folder. You don't need to think about www folder. Your target is always src folder."

[2017-09-17 10:52] jfoclpf commented on #64
Thanks :)
Just another question: those .vue files are merely XML or they can take HTML forms for example?

[2017-09-17 10:56] voicecode-bv commented on #64
I don't really know what you mean, but if you want to create a form inside a vue component, yes you can. For example you can use Axios to post the form data to your server.

[2017-09-17 10:57] jfoclpf commented on #64
Thank you. What I meant is "what is exactly a .vue file and its syntax"? It's merely HTML with another purpose?

[2017-09-17 10:59] voicecode-bv commented on #64
Well, a vue file can be used for creating components. Maybe it's better to first find yourself some Vue.js tutorials and read the docs on vuejs.org

[2017-09-17 11:12] jfoclpf commented on #64
Thanks a lot! I will look around Vue
It seems really interesting for more user friendly and dynamic JS/HTML applications

[2017-09-18 14:25] ghost opened #65 "cordova run browser doesn't work ubuntu 1.17"
Hello,

I have a problem, i cannot lauch my app .
I followed the instruction for the installation , then added platform , then launch cordova run browser but i have this error :

`Before deploy hook started...
Checking is node modules installed...
Node modules already installed.
Starting webpack build...
Error happened when webpack build: Error: Command failed: "/home/alex/WebstormProjects/allianz

[2017-09-22 18:29] jeremymouton opened #66 "Live Reload does not work when not using 192.168.[...] local IP address"
[hooker.js checks for `192.168.` on line 32](https://github.com/centrual/cordova-template-framework7-vue-webpack/blob/master/template_src/hooks/hookers.js#L32) which causes Live Reload to not work when using a different local IP.

Replacing

[code]
with

[code]
fixes the issue.

[2017-09-23 02:16] jlugao opened #67 "blank popup screen"
Hey I just installed everything according to instructions. The popup window is blank (and I get stuck in it) I tryed this with and without live reload in browser and android builds. The console doesn't show any errors. When I inspect the element it is indeed blank.

[2017-09-30 15:49] mrarticuno opened #68 "Project not working on Android (< 7.0) browser"
Hi, I just installed a fresh new project but when I try to run at the android native browser (Nox Player android 4.4.4) it returns this error:

![image](https://user-images.githubusercontent.com/3270231/31047264-b50d5c24-a5dd-11e7-9b78-df09d787acc7.png)

Any idea of how I can make the project run in android under version 7.0 ?

[2017-10-06 13:46] lcaprini opened #69 "File cleared in static folder"
In `cordova run browser -- --lr` mode when I change a file in the `src/static` folder with, the template clears all file contents; it appear completely empty.
Can you help me?

[2017-10-11 19:42] Robula commented on #44
@centrual I'm experiencing the same issue as @yipcma, I cannot get live reload happening on iOS simulator without port in use error. Looks like running `cordova run ios -- --lr` opens 8081 despite terminal returning causing `cordova run browser -- --lr` to fail.

Any work arounds please? Thanks.

[2017-10-20 09:43] vvarda opened #70 "Loading a global settings file"
I need to include global SASS files, like a variables, mixins etc. How can I do that?

[2017-10-26 19:42] levischuckeats opened #71 "Use npm device.js instead of git device.js"
Change `package.json` to use `    "device.js": "^2.3.0",` instead.

The git reference now pulls something without a device.js to import.

[2017-11-01 18:54] jeremymouton commented on #70
I import the stylesheet in `main.vue`.

[code]

Then in the .scss I import my other modules:

[code]

[2017-11-13 09:21] jyarali commented on #63
in `src/main.js`
Add
`import 'babel-polyfill'`
Before
`import Vue from 'vue'`
WORKS!

[2017-11-13 09:21] #63 closed, assigned to nobody

[2017-11-20 11:58] antontsvil commented on #71
Thanks very much, this helped solve the following error. It was pretty difficult to find a solution via google so hopefully this comment will lead people here :

`ERROR in ./webpack/dev_helpers/CordovaDeviceRouter.js
Module not found: Error: Can't resolve 'device.js' in '/.../webpack/dev_helpers'
 @ ./webpack/dev_helpers/CordovaDeviceRouter.js 1:17-37
 @ multi ./src/main.js ./webpack/dev_helpers/C

[2017-11-20 13:53] antontsvil commented on #44
I'm having this same issue on mac. After starting the ios server, it runs on port 8081. So running the browser on port 8081 returns the error @yipcma got. The browser can't run because the ios one is already using the port. Here's an overview of what I've attempted :

`cordova run ios -- --lr` _runs fine, ios emulator opens and runs the app_
`cordova run browser -- --lr` _EADDRINUSE error like oth

[2017-11-21 05:45] yelban commented on #44
seems to `cordova run ios -- --lr` exit and not release port 8081 correctly
my workaround is do `killall -9 node`
then `cordova run browser -- --lr` will work

[2017-11-21 05:53] yelban commented on #44
`cordova run ios -- --lr` can not assign device/emulator target
so it need to unplug all ios devies, then you can start a ios emulator by use
`cordova run ios -- --lr`

then do port cleaning by use
`killall -9 node`

then you can do any `cordova emulate android -- --lr`, `cordova run android -- --lr`, ...
( just do not run `cordova emulate ios --target=iPhone-X --lr`, this couldn't hot reload )

i

[2017-11-21 08:34] yelban commented on #71
It's not work if just change deviceJs.desktop()

You need to change device.js to current-device on both `./package.json` and `./webpack/dev_helpers/CordovaDeviceRouter.js`

`./package.json`
\- "device.js": "git+https://github.com/matthewhudson/device.js.git",
\+ "current-device": "^0.6.0",

`webpack/dev_helpers/CordovaDeviceRouter.js`
\- const deviceJs = require('device.js').default
\+ const devic

[2017-11-21 15:09] #71 closed, assigned to nobody

[2017-11-28 23:48] Jaspur opened #73 "Error happened when webpack build, because of Uglifyjs. How to disable it?"
[code]

It's after adding some working Vue components.

[2017-11-28 23:51] Jaspur commented on #73
[code]

How to disable Uglifyjs?

[2017-11-28 23:55] Jaspur commented on #73
@centrual when disabling ```vue-loader``` in webpack.config.js I get:
[code]

[2017-11-29 08:50] centrual commented on #73
You can disable the uglifyjs or you can install newest version of uglifyjs.

for disable uglifyjs just delete the https://github.com/centrual/cordova-template-framework7-vue-webpack/blob/master/template_src/webpack.config.js#L115

for update to latest version:
1) change https://github.com/centrual/cordova-template-framework7-vue-webpack/blob/master/template_src/package.json#L28 to `^1.1.1`
2) chan

[2017-11-29 08:50] #73 closed, assigned to nobody

[2017-11-29 08:51] Jaspur commented on #73
@centrual, check your outlook mailbox

[2017-11-29 08:55] centrual commented on #70
@jeremymouton Thanks for good answer and help the community 👍

[2017-11-29 08:55] #70 closed, assigned to nobody

[2017-11-29 12:26] josteph opened #74 "Cordova Android build is missing cordova.js"
As the title says, the output after running `cordova run android`, will replace the whole `www` folder in the project:

![untitled](https://user-images.githubusercontent.com/13672022/33374745-52f272c4-d542-11e7-9503-806e8fb8f583.png)

No wonder that I can no longer use cordova plugins like inappbrowser, camera, etc because it's missing `cordova.js` and its plugins folder. Meanwhile, I can see that

[2017-11-29 13:46] josteph commented on #74
Found it! It appears that I should change to current-device from device.js dependencies.

[2017-11-29 13:46] #74 closed, assigned to nobody

[2017-11-29 13:49] renege opened #75 "bugged example! cordova run browser/ios -- --live-reload"
Error:
[code]

I just installed the projects:
[code]

Nothing else. Then ran ```cordova run ios -- --lr``` and ```cordova run browser -- --lr```. Both causing the same error.

[2017-11-29 14:25] josteph commented on #75
Have you run: `npm i` ?

If you have done it, you need to change your `package.json` dependencies to follow this [commit](https://github.com/centrual/cordova-template-framework7-vue-webpack/commit/7960e8fb0ebd802a8b6d98615f1c4a8e8982261c)

For more information step by step:

1.  Run `npm install --save-dev current-device`
2.  Go to `/webpack/dev_helpers` directory, find `CordovaDeviceRouter.js`
3.

[2017-11-29 14:30] josteph commented on #62
If you're on chrome, you're probably using Device Toolbar to when first loading the project.
Then, perhaps you have selected device like iPhone 6 when first loading the project, this will make `deviceJs` to detect it as ios platform.

I have tested it on actual android and ios devices and both works as expected (importing from correct platfrom).

[2017-11-29 14:39] ryaposov commented on #62
What I'm talking is, when app is loaded in **browser** (not native WebView) - whatever it is iOS, Android or Desktop browser, **browser** cordova.js should be included.

User Agent for Mobile Safari and native iOS WebView would be the same, but the cordova.js is different. That's why it's not safe to use UserAgent condition.

Here, I'm providing screenshot that build is requesting iOS version of c

[2017-11-29 14:39] renege commented on #75
Great! Except that it's not actually live realoading. When I change an asset, it isn't compiled and shown in browser as a result.

[2017-11-29 14:50] josteph commented on #75
In my case, if you change a vue component while running on `--lr` command, that's correct. It will display it as white page as a result of hot update.

All you need to do is to refresh the application (refresh page if on browser).

Webpack is powerful, if it is not compiled it will definitely give you error output.

Below is screenshot if webpack detects changes on your files (and if you press sav

[2017-11-29 14:54] renege commented on #75
I even get this error @josteph :

[code]

[2017-11-30 02:04] josteph commented on #75
Yes, you need to reopen the terminal and re-run the command again.

[2017-12-01 07:45] dudenk commented on #65
i have some issue.

[2017-12-01 08:00] centrual commented on #65
Is webpack path correct? : `/home/alex/WebstormProjects/allianz/node_modules/.bin/webpack`

[2017-12-01 10:18] josteph commented on #65
Check whether `webpack` exists inside `node_modules\.bin` folder.

[2017-12-01 10:19] josteph commented on #69
What change did you make?

[2017-12-01 11:13] lcaprini commented on #69
I solved the issue moving
[code]
from `makeNonDevServerChanges` to `startWebpackBuild `, before `sys.checkManifestFile()` line.

[2017-12-06 10:52] suatatan commented on #69
It also worked for me

[2017-12-06 16:27] renege opened #76 "ARCHIVE FAILED on build for iOS"
Hi @centrual ,
```cordova build ios --release``` is causing:

[code]

[2017-12-06 18:50] #76 closed, assigned to nobody

[2017-12-06 18:51] renege opened #77 "cordova emulate ios not working"
Hi @centrual ,

cordova emulate ios --target="iPad-Air"

Is not working. White screen of dead when simulator opens.

[2017-12-07 17:56] tomrlh opened #78 "cordova serve command does nothing"
`cordova serve` command does nothing, not even a error message.. I already added a browser platform, am I forgetting something :confused: ?

[2017-12-07 19:01] FabianSilva commented on #13
I tested cordova and I have the same problem of white screen, I follow what say @beerett on https://github.com/vuetifyjs/vuetify/issues/2303 about using quasar wrapper, remove on /dist folder all starting "/" of index.html (and also from .js files) and tested again to build cordova apk and its now runs...
also change "history" mode on route\index.js definition
mode: 'hash instead of mode: 'history

[2017-12-09 05:15] josteph commented on #78
Please use `cordova run [platform] -- --lr` command instead.

OR

`cordova build [platform]` then `cordova run [platform]`.

Take note that the `-- --lr` will make the webpack automatically inject corresponding platform `cordova.js`

[2017-12-09 05:17] josteph commented on #67
Can you provide any screenshot?

[2017-12-12 22:06] FabianSilva commented on #13
to make to work the dist release and not have to edit any file on dist manually from '/static/... to 'static/...
just edit config\index.js

[code]
replace to
[code]
I doesn't know how to create a new npm run build with multiple confgs (or npm build [newconfig], then I created two index.js.web and index.js.cor and two bat files that create dist folder for web and dist folder to cordova apk

bat fil

[2017-12-15 03:28] josteph opened #79 "How to add Plugins to Project without Live Reload?"
Hello, I am trying to add some cordova plugins such as [Facebook Login](https://github.com/jeduan/cordova-plugin-facebook4) and [Social Sharing](https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin). But unfortunately, I found that those plugins are not injected when not using live reload command, for example:
`cordova build android` therefore currently my apk build doesnt recognize any

[2017-12-15 13:47] tomrlh opened #80 "When new npm lib is added, webpack gives an error"
I'm trying to use [google maps components](https://github.com/xkjyeah/vue-google-maps), but when I add the lib in main.js > `npm install` > `cordova run android --device` it gives the error:

`Error: Error happened when webpack build: Error: Command failed: "/project_path/node_modules/.bin/webpack"`

Basically in every modification I make to main.js it gives this error, and can't run in android or

[2017-12-15 13:49] tomrlh commented on #80
Other question, to develop I'm not able to develop in vue server? like `npm run dev` to have the live-reload, because cordova live-reload is not working as I want, I have to make te updates and recompile the project. `npm install` but `npm run dev` don't.

[2017-12-15 14:42] centrual commented on #80
I didn't assigned anything to `npm run` because there are multiple options you can run. `cordova run android -- --lr` command runs `vue-server` for you.

If you want to see real error, you need to run webpack command directly in your main directory like:

[code]

[2017-12-15 15:24] #80 closed, assigned to nobody

[2017-12-19 09:02] vvarda opened #81 ""deviceready" event"
How can I handle "deviceready" event in this template?
Or it has been involved somehow to internal Vue components lifecycle (created, mounted etc.) ?

[2017-12-19 19:16] #78 closed, assigned to nobody

[2017-12-27 05:35] edoofx opened #82 "How change into production ?"
im working with this template , and works well when develop ( at browser mode ) , but when im type
-add platform android
then
-cordova run android --device
-APK running at my device, but show whitescreen only.
same with cordova build android --release bla bla bla bla , then install APK on my device, run , and same , whitescreen only ..

[2017-12-28 02:30] zifengb commented on #66
@jeremymouton Hi, I look up the hooker.js file, the template have been updated. But... I seems meet the issue again, my runtime environment as follows:
[code]

Uh... I solve my issue, just I need to link my computer's network.

[2017-12-29 12:19] vvarda commented on #81
Guys?

[2018-01-05 05:44] rajahimanath commented on #38
Has this issue ever been resolved??

[2018-01-06 00:10] agfp commented on #7
This works for browser and android debug, but when I compile the app as an adroid release, the images are not loaded.

Any idea on how to solve it?

[2018-01-16 13:33] caiobiodere commented on #51
@mdblabs did you get this one? :)

[2018-01-16 13:33] #51 closed, assigned to centrual

[2018-01-16 16:39] caiobiodere commented on #67
Hey @jlugao did you follow this documentation?
http://framework7.io/vue

Please check if you are using the correct components

[2018-01-16 16:39] #67 closed, assigned to nobody

[2018-01-16 16:40] caiobiodere commented on #75
I think that feedback is fine, i will close this issue

[2018-01-16 16:40] #75 closed, assigned to nobody

[2018-01-16 16:41] caiobiodere commented on #60
I will close because i think there isn't a big problem, let me know if you need more help on this situation

[2018-01-16 16:41] #60 closed, assigned to nobody

[2018-01-16 18:34] caiobiodere commented on #65
I think that's "node_modules\.bin" a good solution for this problem

[2018-01-16 18:34] #65 closed, assigned to nobody

[2018-01-16 18:36] caiobiodere commented on #64
@jfoclpf you can check the src of this template on https://github.com/framework7io/framework7-vue

[2018-01-16 18:36] #64 closed, assigned to nobody

[2018-01-16 19:30] mdblabs commented on #51
Thanks for the update! I'll test it.

[2018-01-17 02:14] #79 closed, assigned to nobody

[2018-01-17 02:16] josteph commented on #81
I usually do it within mounted. And then you can just:

[code]

[2018-01-17 07:22] raphmarot commented on #7
Same for me.

It works in dev mode but when compiled images are not loaded (at least for android APK).

Static folder is present in
`build/intermediates/assets/debug/www `
but not in
`build/intermediates/assets/release/www`

Any help would be appreciated :-)

[2018-01-19 02:28] caiobiodere commented on #68
Just try using the new 2.0.0 version :)

[2018-01-19 02:28] #68 closed, assigned to nobody

[2018-01-19 02:28] #50 closed, assigned to nobody

[2018-01-19 06:53] kiler398 opened #83 "could this template add Microsoft Cordova-Simulate support?"
Cordova-Simulate is  Microsoft's plugin can Simulates Apache Cordova application in the browser.
https://github.com/Microsoft/cordova-simulate
if add this plugin,we can debug some native api function in the browser.

[2018-01-21 20:02] #66 closed, assigned to nobody

[2018-01-21 20:04] caiobiodere commented on #77
Hi @renege could you try again using the new version?

[2018-01-21 20:07] #69 closed, assigned to nobody

[2018-01-21 20:08] #81 closed, assigned to nobody

[2018-01-22 00:16] caiobiodere commented on #82
Please check again using the new 2.0.0 version :)

[2018-01-22 00:16] #82 closed, assigned to nobody

[2018-01-22 03:31] caiobiodere commented on #13
You probably are going to try using the new 2.0.0 version and cordova build :+1:

[2018-01-22 03:31] #13 closed, assigned to centrual

[2018-01-22 07:58] ghost opened #84 "Live reload can't connect on android device"
Hi,

i created a new project with the last template and installed platforms for browser and android.

Then i tried: cordova run android -- --lr to use the live reload function on my android device. Everything worked as expected

![image](https://user-images.githubusercontent.com/27993481/35210401-5133651c-ff52-11e7-8980-5d00ae188a08.png)

but it can't connect to 192.168.56.1:8081. In the browser e

[2018-01-22 14:00] caiobiodere commented on #84
Did you try using the simulator? please :)

Everything is working using simulator here

<img width="1065" alt="screen shot 2018-01-22 at 11 59 06 am" src="https://user-images.githubusercontent.com/1935649/35224317-becce1f2-ff6b-11e7-8337-9d10eea6c35c.png">

[2018-01-22 14:00] #77 closed, assigned to nobody

[2018-01-22 16:51] vvarda opened #85 "Current Framework7 Vue documentation is for Framework7 v1.x and for Framework7 Vue v0.x and not compatible with Framework7 v2"
1. When will documentation be updated?
2. What was changed basically for Vue + F7 connection (routing, components etc.)?
3. How can I use last template's version now?

F7 is awesome. Thx.

[2018-01-22 16:55] caiobiodere commented on #85
Hey mate, When I realized to change our version I found three new articles about F7 v2 you can check there:

https://blog.framework7.io/framework7-v2-beta-41f983d6e89d
https://blog.framework7.io/migration-to-framework7-v2-eb6dc38ede3b
https://blog.framework7.io/mastering-v2-router-958ea2dbd24f

[2018-01-22 16:57] caiobiodere commented on #85
About framework7-vue v2 you can check references to study there:

https://github.com/framework7io/framework7-vue/tree/master/kitchen-sink/src/pages

[2018-01-22 16:58] #85 closed, assigned to nobody

[2018-01-22 16:59] vvarda commented on #85
@caiobiodere yep, updated "kitchen-sink" example is all that I need. Thx.

[2018-01-22 16:59] caiobiodere commented on #85
@vvarda Awesome 👍

[2018-01-24 16:27] JCKodel opened #86 "How to remove cordova?"
This template is better than recommended F7 Vue template because hot-load actually works (this replaces contents on the fly, the other one reloads the entire app, even on a simple css change), and it appears to be more active than the other.

The problem is that I'm making a simple website, not a cordova app =\ I guess leaving cordova will lead to some problems and overhead.

Anyway... It is possi

[2018-01-24 16:40] caiobiodere commented on #86
Hi @JCKodel Nice to meet you :)

I think you can use this option if you want to keep using VueJS with Webpack: https://github.com/vuejs/vue-cli

[2018-01-24 20:37] JCKodel commented on #86
Thank you! Worked perfectly!

For those who are working with https://github.com/framework7io/Framework7-Vue-Webpack-Template, applying this solution requires almost no change at all (and hot reloading will work without reloading the page).

[2018-01-24 21:07] #86 closed, assigned to nobody

[2018-01-25 08:16] andrewleech commented on #79
Did you solve this?
I've got a similar issue...

[2018-01-25 14:21] caiobiodere commented on #79
@andrewleech did you check using the new 2.0.0 version and updating your npm version?

[2018-01-26 07:25] snzmnrdn opened #87 "cannot create cordova app"
[code]

[2018-01-27 13:15] mdblabs commented on #51
Ok, @caiobiodere @centrual  finally I found some time to test it. I upgraded node, npm and cordova, and I built a project from scratch.
My versions:
npm: 5.6.0
node: 8.1.2
cordova: 8.0.0
Now everything is working. Thank you so much!

[2018-01-28 14:22] theMangledBadger opened #88 "Webpack appears to be stuck in a re-compile loop"
Hey,

Firstly, thanks for the source code, I've found it really useful.

When running the command 'cordova run browser -- --live-reload', the compiler appears to constantly recompile the project, outputting this message in terminal:

`Use of cordova.raw.* methods is deprecated and cordova.raw will be removed in a future release. Please migrate to using the top-level cordova.* methods instead.
Upda

[2018-01-28 14:39] theMangledBadger commented on #87
Quick one, when you're running the create cordova app commands:

`cordova create <project_create_dir> [com.example.projectname] [ProjectClassName] --template cordova-template-framework7-vue-webpack`

`phonegap create <project_create_dir> [com.example.projectname] [ProjectClassName] --template cordova-template-framework7-vue-webpack`

Ensure you don't have any illegal characters within the `[Projec

[2018-01-28 14:54] theMangledBadger commented on #88
Actually, I appear to have solved it.

When creating components, it's important to wrap them in a <f7-page> tag otherwise the DOM hasn't a clue where to look for the item.

[2018-01-28 14:54] #88 closed, assigned to nobody

[2018-01-28 16:53] #87 closed, assigned to nobody

[2018-01-31 12:27] vvarda opened #89 "Android (<= 6.0) white screen after start"
cordova-cli: 7.1.0 || 8.0.0

"cordova-android": "^6.4.0",
"cordova-plugin-whitelist": "^1.3.3",
"font-awesome": "^4.7.0",
"framework7": "^2.0.6",
"framework7-icons": "^0.9.0",
"framework7-vue": "^2.0.0",
"loglevel": "^1.4.1",
"vue": "^2.5.13"

I try to start empty project via that template. But it works only on Android 7.0.0+ versions.

![1517402113009](https://user-images.githubusercontent.com/43

[2018-01-31 14:49] poptong opened #90 "how to android back button??"
main.vue

    methods: {
        handleBackButton () {
            if (this.$f7router.history.length > 1) {
                 return this.$f7router.back();
             }
    },
    created () {
        document.addEventListener('deviceready', () => {
            document.addEventListener('backbutton', this.handleBackButton);
        });
    }

backbutton not works...
Cannot read property 'history'

[2018-02-01 02:29] caiobiodere commented on #90
You can use the back property:

`<f7-list-button title="Cancel" back></f7-list-button>`

[2018-02-01 03:56] victoryhb commented on #89
This is probably due to the lack of support for es2015 features in older android webviews. Transpiling to es5 using babel in webpack should solve the problem.

[2018-02-01 08:41] vvarda commented on #89
@victoryhb yep, I've understood, but can't just transpile all **node_modules** packages -- Webpack crashes.

Maybe someone knows, which package should we transpile to es5?

[2018-02-02 18:26] vvarda commented on #89
@caiobiodere I've tried to debug app in Android Studio (API less 23) and stuck on error:
`"Uncaught SyntaxError: Use of const in strict mode.", source: file:///android_asset/www/de6e2d3a966ab131f3c6.main.js`

which follows to:
`const defaultDiacriticsRemovalap = [...]`

It means that old WebView on Android doesn't support **ES6**: including **const** definition

Any ideas?

[2018-02-04 04:27] saltyeyes commented on #84
Could you please update the readme to mention that live reload on a physical device isn't supported? Would have saved me a bunch of time. :c

[2018-02-05 14:25] caiobiodere commented on #84
@saltyeyes yes i will do it

[2018-02-05 14:26] #90 closed, assigned to nobody

[2018-02-05 14:36] centrual commented on #84
Live reload normally works in same network. Is your phone connected to same router-wifi? Also is your phone connected with cable too?

If all yes than:
1) If app displays white screen after launch, it's probably about cordova platform files not loaded. Please check loaded cordova platform files from `chrome://inspect`
2) If app renders content but when you changed something, changes not affecting

[2018-02-12 23:15] caiobiodere commented on #84
@SgtPepper27 Did you check using centrual tips?

[2018-02-13 00:13] caiobiodere commented on #89
I added babel and rules to transpile our project using ECMAScript, but I don't know how can we fix that for all node_modules packages.

[2018-02-13 12:16] vvarda commented on #89
@caiobiodere the problem is in framework7|framework7-vue|template7|dom7 packages.

There is an [issue](https://github.com/framework7io/framework7/issues/2156), but it was accidentally closed.

So, for temporary solution I changed webpack config like that:
[code]

[2018-02-13 15:11] Acroipeol opened #91 "The exported APK can't open"
It says "ERR cannot find the www/index" when i open the exported apk. please help

[2018-02-13 21:02] caiobiodere commented on #89
@vvarda awesome idea for this moment, I already did this if you can let me know any new changes

[2018-02-13 21:02] #89 closed, assigned to nobody

[2018-02-13 21:10] caiobiodere commented on #61
hey @ryaposov you just need to configure web pack rules like this one:
`rules: [{test: /\.css$/, use: [ 'style-loader', 'postcss-loader' ]}]`

but please pay attention you need to remove next configurations that are using CSS rules, you can search for (/\.css$/)

[2018-02-13 21:10] #61 closed, assigned to nobody

[2018-02-13 21:15] caiobiodere commented on #91
Hey @Acroipeol everything is working here using this command: `cordova build android`, can you use my last release? https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/releases/tag/2.0.2

Node version: 8.9.4
Npm version: 5.6.0
Cordova version: 7.1.0
Android API version: +23

<img width="1235" alt="screen shot 2018-02-13 at 7 12 12 pm" src="https://user-images.githubusercontent.c

[2018-02-13 21:17] #91 closed, assigned to nobody

[2018-02-13 21:17] #84 closed, assigned to nobody

[2018-02-16 23:17] tribalboy3000 opened #92 "Your download installs F7 V1"
I used this:

cordova create <project_create_dir> [com.example.projectname] [ProjectClassName] --template cordova-template-framework7-vue-webpack

if you check installed code main.js the code is for f7 v1, this was caught by the author of F7.

[2018-02-19 02:16] caiobiodere commented on #47
I created a new release that is using Vuex and babel features :)

you can check on (2.0.3):
https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/releases/tag/2.0.3

[2018-02-19 02:16] #47 closed, assigned to centrual

[2018-02-19 02:17] caiobiodere commented on #92
Hey, @tribalboy3000 can you check using this release?
https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/releases/tag/2.0.3

About framework7 version we are using F7 v2, I used from this reference:
https://github.com/framework7io/framework7-template-vue-webpack/blob/master/src/main.js

[2018-02-23 15:06] daniel-centore commented on #92
Using the following yields F7 v1 for me as well:

    cordova create <project_create_dir> [com.example.projectname] [ProjectClassName] --template cordova-template-framework7-vue-webpack

Installing with the following gives me F7 v2:

    cordova create <project_create_dir> [com.example.projectname] [ProjectClassName] --template https://github.com/caiobiodere/cordova-template-framework7-vue-webpack

[2018-02-23 15:21] daniel-centore opened #93 "iPhoneX not showing up fullscreen"
When I try to use this framework with an iPhoneX, it doesn't extend all the way to the top and bottom as I would expect.

<img src="https://user-images.githubusercontent.com/569864/36601417-12b99366-1883-11e8-9ce2-956b5e495e35.png" width="400"  />

[2018-02-23 16:49] daniel-centore commented on #93
I was able to resolve this issue with the help of [this article](https://blog.phonegap.com/displaying-a-phonegap-app-correctly-on-the-iphone-x-c4a85664c493), by adding a blank 2372x2372 image at `res/screen/ios/Default@2x~universal~anyany.png` and then including the following line within `<platform name="ios">` in `config.xml`:

    <splash src="res/screen/ios/Default@2x~universal~anyany.png" />

[2018-02-23 20:16] caiobiodere commented on #93
hey @daniel-centore thanks for your help I did these changes you can check on: https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/releases/tag/2.0.4

[2018-02-23 20:16] #93 closed, assigned to nobody

[2018-02-23 20:17] caiobiodere commented on #92
@daniel-centore great idea! hey @tribalboy3000 you just need to use this command to create your project 👍

`cordova create <project_create_dir> [com.example.projectname] [ProjectClassName] --template https://github.com/caiobiodere/cordova-template-framework7-vue-webpack
`

[2018-02-23 20:17] #92 closed, assigned to nobody

[2018-02-26 08:11] adnanmasd opened #94 "Uncaught ReferenceError: regeneratorRuntime is not defined"
I am using async/await in my vue app
When I run my app on browser, it gives me the this error and a blank page

[code]

[2018-02-26 11:32] anuragnagarkota opened #95 "Error : $export is not a function"
Hey

First of thanks for this wonderful work. I have just install it and installation was fine, but when I ran the command cordova run android -- --lr it throws the following error-

TypeError: $export is not a function

  - es6.object.define-property.js?:5 eval
    [.]/[core-js]/library/modules/es6.object.define-property.js?:5:1

Thanks

[2018-02-26 23:03] hamdallah90 commented on #95
Just remove line 46 in file webpack.config.js

this is the line
{test: /\.js$/, exclude: /node_modules\/(?!(framework7|framework7-vue|template7|dom7)\/).*/, use: {loader: 'babel-loader', options: {presets: ['env'], plugins: [ 'transform-runtime', 'transform-object-rest-spread' ]}}}

just remove it

[2018-02-27 16:49] sank3 commented on #95
@hamdallah90 thanks it worked for me

[2018-02-28 11:52] vvarda opened #96 "Router in vuex"
How can I get router in Vuex module to navigate in my app?

I need to navigate somewhere in Vuex modules mutations or actions via dependence from data.

In simply Vue project we have vue-router Router instance, so it could be used just like a:
[code]

But what about framework7-vue and current template, where we are only able to call `this.$f7.views[0].router` in components ?

[2018-02-28 12:26] bodiab19 opened #97 "Hello, i have a problem when run: cordova run browser -- --lr"
$ cordova run browser -- --lr
Before deploy hook started...
Checking is node modules installed...
Node modules already installed.
Error happened on main chain:
{ Error: Cannot find module 'lodash/assign'
    at Function.Module._resolveFilename (module.js:555:15)
    at Function.Module._load (module.js:482:25)
    at Module.require (module.js:604:17)
    at require (internal/module.js:11:18)
    at

[2018-03-01 10:40] nmirceac commented on #7
@Vincebe hey - have you ever sorted that out?

Thanks

[2018-03-04 10:51] tribalboy3000 commented on #92
Ok thanks!

[2018-03-04 19:52] u01jmg3 commented on #97
Slightly off track from your issue but I too am seeing the `DeprecationWarning: Unhandled promise rejections are deprecated` whenever I have a JavaScript compilation error

Are we missing a catch somewhere that is now needed for newer Node? Also, when the Webpack build does fail it doesn't specify what file there is a problem in only that Webpack has failed to build. Is it possible to provide this

[2018-03-05 19:42] ralbear commented on #97
Something similar here, after run `cordova run browser -- --lr` i can see and use the web at `http://localhost:8081` but i have that two issues at the end of the loading.

- node: v8.9.4
- cordova: 8.0.0

[code]

[2018-03-06 01:18] edoofx opened #98 "Add Template, add platform , run and error at device"
1. cordova create testcreate com.testcreate testcreate --template https://github.com/caiobiodere/cordova-template-framework7-vue-webpack
2. cd testcreate
3. npm i
4. remove line 46 at webpack.config
5. cordova platform add android
6. cordova run android --device

**and voila. white screen at device , but work on browser**

and at console say : Uncaught SyntaxError: Use of future reserved word in s

[2018-03-06 15:22] caiobiodere commented on #98
hey @edoofx why are you removing line 46? I created that to run on android devices that are using API 23 :)

I did the same things you made and everything is running here. Could you check your npm, node and cordova versions?

Npm version: 5.6.0
Node version: 8.9.4
Cordova version: 8.0.0
cordova-android version: 7.0.0

<img width="1679" alt="screen shot 2018-03-06 at 12 20 27 pm" src="https://user-

[2018-03-06 15:25] caiobiodere commented on #97
Hey guys before running could you check your npm, node and cordova versions?

Npm version: 5.6.0
Node version: 8.9.4
Cordova version: 8.0.0
cordova-android version: 7.0.0
cordova-browser version: 5.0.3

<img width="1679" alt="screen shot 2018-03-06 at 12 20 27 pm" src="https://user-images.githubusercontent.com/1935649/37040768-5d0c7e06-2139-11e8-8540-ac89ac8121c1.png">

[2018-03-06 15:27] caiobiodere commented on #96
Hmm I really don't know how can we do it, because we are using framework7 structure to navigate between pages following framework7 router. I will ask but for a moment you could use events and data.

[2018-03-06 15:28] caiobiodere commented on #95
Hey guys I don't know if removing line 46 is a good idea because we are using babel for android api 23.

Could you guys check your npm, node and cordova versions before running the application?

Npm version: 5.6.0
Node version: 8.9.4
Cordova version: 8.0.0
cordova-android version: 7.0.0

<img width="1679" alt="screen shot 2018-03-06 at 12 20 27 pm" src="https://user-images.githubusercontent.com/19

[2018-03-06 15:31] caiobiodere commented on #94
hey, @adnanmasd I found your situation here:

babel-polyfill is required. You must also install it in order to get async/await working.
npm install -- save babel-polyfill

Then in your main.js just import it:
import babelPolyfill from 'babel-polyfill'

Reference:
https://stackoverflow.com/questions/33527653/babel-6-regeneratorruntime-is-not-defined

[2018-03-06 15:32] vvarda commented on #96
@caiobiodere thx.

It's really awful case now. I have to use computed properties to watch when Vuex state value changes and then control Router depending on it.

[2018-03-06 15:33] caiobiodere commented on #83
hey @kiler398, could you help us about how to import this application into cordova-template-framework7-vue-webpack template?

[2018-03-06 15:35] caiobiodere commented on #96
Good job 👍

[2018-03-06 15:35] #96 closed, assigned to nobody

[2018-03-06 15:52] ralbear commented on #97
Actually i have this versions:

Npm:     5.6.0
Node:    8.9.4
Cordova:    8.0.0
Cordova-android:    7.0.0
Cordova-browser:   4.1.0

[2018-03-06 15:56] ralbear commented on #97
I try to update my `cordova browser` version and get the same error

[code]

[2018-03-06 16:57] caiobiodere commented on #97
hey, @ralbear try this:

Remove the platform which you try to run on it (browser, ios, android, and etc.)
cordova platform rm browser

Add the platform again
cordova platform add browser

You can run
cordova run browser -- --lr

[2018-03-06 18:23] ralbear commented on #97
Yep, i try that but it gives some related errors, i come back with more info when i have it working!

[2018-03-07 03:28] edoofx commented on #98
hey @caiobiodere .. why removing line 46 ? because i cant run.. like at _tab issues_ ..
Npm version: 5.6.0
Node version: 8.9.4
Cordova version: 6.5.0
cordova-android version: 6.1.2

now i know the problem..

if cordova@7.0.0 . this is can run .

thanks for the answer..

[2018-03-07 04:13] caiobiodere commented on #98
Awesome, good job 👍

[2018-03-07 04:13] #98 closed, assigned to nobody

[2018-03-07 04:27] yulin724 opened #99 "How to update my template cloned before?"
I very like this project, and use it in my project.

How to update my template cloned before?

[2018-03-07 09:17] qppq54s commented on #95
@caiobiodere @anuragnagarkota @hamdallah90 @sank3
In Windows, modulePath would be \project-name\node_modules\MY_MODULE
In Mac, modulePath would be /project-name/node_modules/MY_MODULE
change line 46 from
[code]
to
[code]
problem solved!

[2018-03-07 10:45] tribalboy3000 opened #100 "Question about webpack"
I have everything working correctly. Since this is my first time working with webpack I'm curious if that is setup correctly? When I inspect I can't find the line the style is on, all I see is this:

![image](https://user-images.githubusercontent.com/2553727/37088229-e1bad74e-21b9-11e8-9e0a-3b1e6cc413f8.png)

Is there someway I can update the settings to make it easier to inspect?

Also, thanks fo

[2018-03-08 02:54] edoofx opened #101 "lodash/lodash.js" as it exceeds the max of "500KB"."
cordova : 8.0.0
android  : 7.0.0
node : 8.9.4
npm : 5.6.0

trying to downgrade cordova to 6.5.0 . same.

[code]

[2018-03-08 03:18] caiobiodere commented on #101
please check using this issue https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/issues/55

[2018-03-08 03:46] edoofx commented on #101
i guess different problem..

im trying with ur refference . same.

delete file package lock .
run npm install .
cordova run android .

getting
[code]

[2018-03-08 04:49] teddyhendryanto commented on #101
hi @caiobiodere , @edoofx

sorry for jump in.
I got stuck for 3 hours in same error when execute cordova run browser on my windows10 x64.

Error: Error happened when webpack build: Error: Command failed: "C:\wamp\www\com.example.text\node_modules\.bin\webpack.cmd"
[BABEL] Note: The code generator has deoptimised the styling of "C:/wamp/www/com.example.text/node_modules/lodash/lodash.js" as it exce

[2018-03-08 07:14] qppq54s opened #102 "Every is ok but Cordova run returns white screen after app installed on Windows"
My Step:
1.  npm install
2. cordova platform add android
3. cordova run android -- --lr

It works fine.
But after run `cordova run android`,
the app show up white screen and no error;
I wonder if it is because my system is window?

[2018-03-08 07:17] #102 closed, assigned to nobody

[2018-03-09 15:28] ralbear commented on #97
Finally i start from scratch, create a fresh new cordova project based in this repo.

The `cordova run browser -- --lr` works fine.
This method still droping this error but all looks fine.
`(node:52024) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zero exit code.
`

To

[2018-03-11 13:42] kiler398 commented on #83
I find a solution to use  Microsoft Cordova-Simulate
if we install a cordova-tools plugin in vscode,we can use Microsoft Cordova-Simulate  for your template
https://marketplace.visualstudio.com/items?itemName=vsmobile.cordova-tools

[2018-03-12 06:17] inallweather commented on #101
i have add exclude on vue-loader in webpack.config.js

[2018-03-12 06:22] inallweather commented on #101
i have added  'exclude: /node_modules/ '  [test: /\.vue$/,**exclude: /node_modules/**, loader: 'vue-loader'] in webpack.config.js
 My current version
cordova 8.0.0 android 7.0
node  8.10
OS: win10 x64

[2018-03-14 12:54] teddyhendryanto commented on #101
@inallweather thank you for your response.
sorry i'm not good enough in webpack.
can you show me, which part should I add in webpack.config.js?
thank you..

[2018-03-14 23:32] inallweather commented on #101
![image](https://user-images.githubusercontent.com/13284416/37436446-f6586d28-2822-11e8-8851-102c5e10565a.png)

[2018-03-14 23:36] inallweather commented on #101
![image](https://user-images.githubusercontent.com/13284416/37436545-6d61f308-2823-11e8-918b-c587ec1c7930.png)

would your see in the red shape

[2018-03-14 23:39] inallweather commented on #101
in the wepack.config.js file, do you look for the module:{ rules:[ {test: /\.vue$/, exclude: /node_modules/, loader: 'vue-loader',** options: {loaders: {js: {loader: 'babel-loader', options: {presets: ['env'], plugins: ['transform-object-rest-spread']}}}}}]}

[2018-03-15 02:54] caiobiodere commented on #101
@inallweather I made your tips :) Hey @teddyhendryanto could you change your webpack config file using this?

From ->
`{test: /\.vue$/, loader: 'vue-loader', options: {loaders: {js: {loader: 'babel-loader', options: {presets: ['env'], plugins: ['transform-object-rest-spread']}}}}},
{test: /\.js$/, exclude: /node_modules\/(?!(framework7|framework7-vue|template7|dom7)\/).*/, use: {loader: 'babel-loa

[2018-03-15 02:58] caiobiodere commented on #99
I think this is a good start for you @yulin724

* [Migration to Framework7 v2](https://blog.framework7.io/migration-to-framework7-v2-eb6dc38ede3b)
* [Mastering router Framework7 v2](https://blog.framework7.io/mastering-v2-router-958ea2dbd24f)

[2018-03-15 02:59] caiobiodere commented on #97
Hey @ralbear some people had the same problem. We fixed that changing our webpack.config.js

From ->
`{test: /\.vue$/, loader: 'vue-loader', options: {loaders: {js: {loader: 'babel-loader', options: {presets: ['env'], plugins: ['transform-object-rest-spread']}}}}},
{test: /\.js$/, exclude: /node_modules\/(?!(framework7|framework7-vue|template7|dom7)\/).*/, use: {loader: 'babel-loader', options: {p

[2018-03-15 03:00] caiobiodere commented on #95
I made your tip :) thank you so much @qppq54s

[2018-03-15 03:00] #95 closed, assigned to nobody

[2018-03-15 03:01] caiobiodere commented on #94
@adnanmasd How was it?

[2018-03-15 03:04] caiobiodere commented on #83
Great idea @kiler398 I made your tip in README file :)

[2018-03-15 03:04] #83 closed, assigned to nobody

[2018-03-15 03:10] caiobiodere commented on #100
hey @tribalboy3000 That's how css-loader, sass-loader works you can see more about that creating or doing small examples

* [Small example using css-loader](https://css-tricks.com/css-modules-part-2-getting-started/#article-header-id-3)
* [Explanation about css-loader](https://medium.com/a-beginners-guide-for-webpack-2/webpack-loaders-css-and-sass-2cc0079b5b3a)

[2018-03-15 03:10] #100 closed, assigned to nobody

[2018-03-15 03:27] inallweather commented on #101
yes

[2018-03-15 04:47] edoofx commented on #101
like @teddyhendryanto says .. im using ubuntu for now , and no one problem , even with fresh clone like im doing before..
but on windows . error error error and error ..

@caiobiodere  thanks in advance..

[2018-03-15 07:17] adnanmasd commented on #94
@caiobiodere, the application build successfully without any errors. Thanks

[2018-03-15 07:17] #94 closed, assigned to nobody

[2018-03-15 07:23] teddyhendryanto commented on #101
@caiobiodere woww. after changing webpack config with your code, it works fine now!!
now I can start develop with your template using windows.
Thank you.. :)

[2018-03-15 19:14] caiobiodere commented on #101
Great work! :)

[2018-03-15 19:14] #101 closed, assigned to nobody

[2018-03-15 21:45] YasiOnFire opened #103 "f7 not avaiable in DOM"
Hi, in the new version of this template the f7 lib is not present in the DOM.
**Old version:**
![przechwytywanie](https://user-images.githubusercontent.com/3300701/37492543-0cfbb79a-28a2-11e8-8b4a-c7426ad14e8f.PNG)

**New version:**
![przechwytywanie2](https://user-images.githubusercontent.com/3300701/37492559-177db402-28a2-11e8-845d-789a60207471.PNG)

And because of that i cannot do anything with

[2018-03-15 21:51] YasiOnFire commented on #103
Ok, nvm. It's jus bind to the Vue instance now. (－‸ლ)
I sorry. Closing now.

[2018-03-15 21:51] #103 closed, assigned to nobody

[2018-03-19 19:00] ralbear commented on #97
With this i must find solved the `(node:52024) [DEP0018] DeprecationWarning: [...]` or the android enviroment run? After updating my `webpack.config.js` i have the same problems.

[2018-03-19 19:08] caiobiodere commented on #97
Just to make your android enviroment running because like others you are using windows, could you show me the error when you are using android?

[2018-03-19 19:19] ralbear commented on #97
When i run `cordova run android -- --lr` i only get this extra error, at the middle of the log
[code]
when the process finish the `app-debug.apk` package was correctly created but the android enviroment don´t start by itself.

[code]
Also i can move the `app-debug.apk` to the android emulator and it works fine.

[2018-03-19 21:27] caiobiodere commented on #97
I got a similar error when my android paths were wrong could you check your android paths? I don't know how to use that on windows platform.

[2018-03-21 04:18] caiobiodere commented on #99
hey @yulin724 how was it?

[2018-03-21 04:19] caiobiodere commented on #97
another thing you could try starting from scratch using my last release:
https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/releases/tag/2.0.5

[2018-03-21 19:28] ralbear commented on #97
The android paths are ok, i have issues with this when i install it. I´m not sure if can be a incompatibility with the new Android Studio version.
I come back with my feedback when i try the new release :)

[2018-03-29 22:28] rlam3 opened #104 "How do we switch out framework 7 with other frameworks like quasar or onsenui?"
How do we switch out framework 7 with other frameworks like quasar or onsenui?

Another Question. If I wanted to add a cordova plugin, how do I import/integrate it? Thanks!

[2018-04-02 19:56] nullRefErr opened #105 "Hello, can't find "deviceready" event"
Hello again, I want to add push notifications plugin with one signal and I need to find deviceready event or any advice where to put it. Can you help me ?

[2018-04-02 20:07] #105 closed, assigned to nobody

[2018-04-02 20:08] nullRefErr commented on #105
I tried to add it in Main.js and it worked. Thx anyway.

[2018-04-02 21:32] thekswenson opened #106 ""cordova run browser" and "cordova run browser -- --live-reload" yeild different results for stylesheet inclusion"
From a fresh template, I've modified index.html with the line:
`<link rel="stylesheet" type="text/css" href="src/assets/css/mystyles.css">`

I put the file mystyles.css in the "src/assests/css/" directory.

When I run `cordova run browser` I see that the CSS file is included:

and the style of everything that should be affected in the home.vue template is affected in the intended way.
However, whe

[2018-04-02 21:36] caiobiodere commented on #106
You don't need to change your index.html file, just change your main.js file using this reference:

// Import MyStyles from assets
import MyStyles from './assets/css/mystyles.css'

[2018-04-02 21:47] thekswenson commented on #106
Yes...  thank you very much for the tip!

[2018-04-02 21:47] #106 closed, assigned to nobody

[2018-04-08 10:27] nuxcasino opened #107 "hey did you test this template on your real phone"
Sorry for that. I have almost 5 days work on this template. every think working well. but when I deploy my  real phone its first showing   Waiting for device ready....

I'm not good coder, but I think something wrong there.

thanks advance

[2018-04-08 18:50] caiobiodere commented on #107
What kind of phone are you using there?
Please send to us more information about that

[2018-04-08 18:51] caiobiodere commented on #104
To import/integrate more cordova plugins you just need to follow this way in your project folder:
```cordova plugin add cordova-plugin-geolocation```

[2018-04-09 20:03] caiobiodere commented on #97
hey @ralbear how was it?

[2018-04-10 05:46] MontyZhao commented on #97
I have the same error with @ralbear too.

When I run **cordova build android**:
`
Before deploy hook started...
Checking is node modules installed...
Node modules already installed.
Error happened on main chain:
{ Error: Cannot find module 'lodash/assign'
    at Function.Module._resolveFilename (module.js:536:15)
    at Function.Module._load (module.js:466:25)
    at Module.require (module.js:579:

[2018-04-10 05:56] MontyZhao commented on #97
And when I create a new project, and do it again, it works! This time , there is no errors anymore!

[2018-04-10 18:09] caiobiodere commented on #97
I think that's closed now

[2018-04-10 18:09] #97 closed, assigned to nobody

[2018-04-11 18:56] caiotarifa opened #108 ""cordova.js" was not generated in Android"
Hi.

I am getting this error and my application is not running.

[code]

[code]

[code]

Has anyone had a similar problem?

[2018-04-11 19:00] caiobiodere commented on #108
Did you check if you have Cordova installed on your machine?

Cordova: https://cordova.apache.org/

[2018-04-11 19:01] caiobiodere commented on #99
Please let me know if you need something more about this task

[2018-04-11 19:01] #99 closed, assigned to nobody

[2018-04-11 19:07] caiotarifa commented on #108
Yes, @caiobiodere.

[code]

This error is in Chrome inspector, after I compiled my app w/ `cordova run android -- --lr`.

![captura de tela 2018-04-11 as 16 06 09](https://user-images.githubusercontent.com/197979/38637709-54f0637e-3da2-11e8-8ea5-b7d472855960.png)

Thanks

[2018-04-11 19:19] caiotarifa commented on #108
@caiobiodere, I realized that the `cordova.js` file was not generated on Android, even using `cordova run android -- --lr` command.

Can you tell me why?

![captura de tela 2018-04-11 as 16 17 45](https://user-images.githubusercontent.com/197979/38638232-0f2baf9a-3da4-11e8-8568-1ff877090045.png)
![captura de tela 2018-04-11 as 16 18 00](https://user-images.githubusercontent.com/197979/38638233-0f4

[2018-04-11 19:29] caiobiodere commented on #108
Could you check your npm, node and cordova versions?

Please start a new project from scratch using cordova:
```cordova create <project_create_dir> [com.example.projectname] [ProjectClassName] --template cordova-template-framework7-vue-webpack```

Npm version: 5.6.0
Node version: 8.9.4
Cordova version: 8.0.0
cordova-android version: 7.0.0
cordova-browser version: 5.0.3

<img width="1679" alt="3704

[2018-04-11 19:34] caiotarifa commented on #108
Does testing on a remote device and not the emulator might be the cause of the problem?

[code]

The `cordova-android version` is `7.0.0`.

I will try to create a new project from scratch soon.

[2018-04-11 19:38] caiobiodere commented on #108
Yes mate, that's really the cause of your problem and there has been explained in another task : https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/issues/62. Could you use with the native emulator?

[2018-04-11 19:57] caiotarifa commented on #108
Got it.

- Is there anything that can be done? Something like a port forward?
- Why the Android "cordova.js" file was not generated and the iOS was?

On remote iOS it works without problems. It is an Android thing.

[2018-04-11 20:50] caiobiodere commented on #108
I will check your problem when I get some time for free, Just to I know are you using this command to test on other devices?

``` cordova run browser -- --lr```

[2018-04-11 20:53] caiotarifa commented on #108
No, I am using `cordova run android -- -lr` to test on Android and `cordova run ios -- -lr` to test on iOS.

Ok! Thank you, xará. 👍

[2018-04-12 03:50] xiyanglove opened #109 "Android ：Uncaught ReferenceError: Camera is not defined"
Ios can call Cordova plugin，Android ：“Uncaught ReferenceError: Camera is not defined”，Any plugin fails to call

[2018-04-12 17:46] caiotarifa commented on #109
[code]

[2018-04-12 17:56] caiobiodere commented on #109
I think you need to check if your plugin has been installed on Android, to do that just remove and create platform again:
[code]

[2018-04-12 18:00] caiobiodere commented on #108
Yes I know what you doing there, but please don't use android or ios platforms on browsers that's not a good situation and probably is going to take some errors, always is better using (run browser) for browsers

I appreciate your concern, awesome Xara 👍

[2018-04-12 18:03] caiotarifa commented on #108
@caiobiodere, sure... I didn't use the browser (just to check if the file `cordova.js` exists on the local server).

In fact, my app doesn't work in browsers.

[2018-04-17 08:46] nuxcasino commented on #107
Sorry, it was same mistake on my code. now its working.  but  when I first time run cordova.js loaded after than cordova.js not found

[2018-04-17 08:46] #107 closed, assigned to nobody

[2018-04-17 08:46] nuxcasino commented on #108
when I first time run cordova.js loaded after than cordova.js not found

[2018-05-16 12:55] rlam3 opened #110 "Is there support for discord or slack for this?"
Is there support for discord or slack for this?

[2018-05-22 12:02] rlam3 opened #111 "How do we integrate admob?"
How do we integrate admob?

I've been trying to integrate the following cordova plugin
https://github.com/ratson/cordova-plugin-admob-free

Was wondering if I could get your input on how to integrate with this template.

Thanks! @caiobiodere

[2018-05-23 13:03] rlam3 commented on #62
@ryaposov is this fixed yet? Or have you found a workaround?

[2018-05-23 17:33] victoryhb commented on #62
The easiest way I have found to solve the problem is to add the following to config.xml:
`<preference name="OverrideUserAgent" value="Mozilla/5.0 Google" />`

[2018-05-24 04:19] catalsdevelop commented on #108
@caiotarifa  I think that's because of hooks problems. see https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/blob/master/template_src/hooks/beforedep.js#L14. In cordova-android@7.1.0, there is no `assets/www` in android dir, so I change it to `platform_www`,  and run `cordova run android -- --device --lr`, everything is ok. But I didn't dig too much about `beforedep.js`. Can u

[2018-05-27 15:51] caiobiodere commented on #111
hey @rlam3 did you try using this?

```cordova plugin add cordova-plugin-admob-free --save```

[2018-05-27 15:51] caiobiodere commented on #110
We didn't create slack or discord because there is a small community for this project

[2018-05-27 15:51] #110 closed, assigned to nobody

[2018-05-27 15:52] #109 closed, assigned to nobody

[2018-05-27 15:53] caiobiodere commented on #108
yes @catalsdevelop I'm going to see that

[2018-06-05 14:53] ryaposov commented on #62
@rlam3 no, I moved my project to my custom template based on [OnsenUI](https://github.com/OnsenUI/vue-cordova-webpack) template

[2018-06-13 11:15] arsalan1248 opened #113 "Windows application hangs"
Hello.

On opening the application, I locked the screen on windows and re-login from the locked screen after 15-20 min, the application always hangs irrespective of screen or action the user was on the app.

Has anyone faced the screen freezing problem?

[2018-06-15 18:24] hastom commented on #108
Got a similar problem as I was building app with webpack to www/dist.
In my index.html including `cordova.js` like this `../cordova.js` fixed an issue for me

[2018-06-18 06:02] prosenjeet123 commented on #109
Or may be you are calling the script before the cordova.js gets loaded

[2018-06-20 22:26] caiobiodere commented on #113
@arsalan1248 did you try restarting your emulator device that could be a problem with your memory. Please check that

[2018-06-20 22:28] caiobiodere commented on #111
@rlam3 did you have some time to test that?

[2018-06-20 22:32] #104 closed, assigned to nobody

[2018-06-21 04:29] arsalan1248 commented on #113
@caiobiodere thank you for your time.
I have updated my windows machine and since then i did not observe any hanging issue in my application.

Running the following command on Powershell prints the version
[System.Environment]::OSVersion.Version

Following is output from the laptop on which application is not hanging

Major  Minor  Build  Revision
-----  -----  -----  --------
10      0      17134

[2018-06-21 04:34] #113 closed, assigned to nobody

[2018-06-21 14:40] fgarcia5 opened #114 "Stacked Pages"
I need the pages to be loaded into the DOM only once. I have tried setting stacked-pages in true to the main view but the screens are loaded again and again repeatly.

I also tried adding the stacked property to the pages but it did not work either.

How can I show the pages that are already loaded in the DOM?

I understand one can navigate to a page by page Name or the ref but I could not achieve

[2018-06-22 16:57] VictorioBerra commented on #38
BUMP. Why can we not override this yet? Trying to use ngrok.

[2018-06-24 03:29] thitemple commented on #37
I'm facing the same issue

[2018-06-24 21:37] caiobiodere commented on #114
@fgarcia5 please see this issue -> http://forum.framework7.io/t/solved-v2-0-2-how-do-i-enable-domcache-in-version-2/1659

[2018-06-25 18:06] fgarcia5 commented on #114
Hi @caiobiodere .

Many thanks for your answer.

I don't undertand how this example could help me. I tried putting "stackedPages" and "animateWithJS" to true but it didn't work.

For more information you can see the issue in Framework7 Forum: http://forum.framework7.io/t/v2-stacked-pages/3808

Any idea how to solve this?

Thank you again, regards.

[2018-06-29 16:11] fgarcia5 commented on #114
The issue was resolved.

You can see: http://forum.framework7.io/t/v2-stacked-pages/3808

[2018-06-29 16:11] #114 closed, assigned to nobody

[2018-07-04 12:27] tartinesKiller commented on #108
@catalsdevelop fix seems to work for me too (thanks a lot!), it seems like a path confusion?

[2018-07-09 09:29] ceeyang opened #115 "When I went back, sometimes the navbar title and other content hiden."
Sometimes, When I went back, The navbar title and other content hiden.
Just like this:

![image](https://user-images.githubusercontent.com/16550007/42442567-9986d95a-839d-11e8-82ed-5bc819a7d0ed.png)

[2018-07-09 09:31] ceeyang commented on #115
https://im2.ezgif.com/tmp/ezgif-2-e11479f54d.gif

[2018-07-10 15:19] wxfred opened #117 "Is there any plan to upgrade to framework 3.x?"
Expecting upgrading and making it easier to change port.

[2018-07-10 22:42] caiobiodere commented on #117
@wxfred I will check this tonight :)

[2018-07-10 23:29] mgd722 commented on #117
@caiobiodere i submitted a PR for this last night.  anything missing?

[2018-07-16 08:40] caiobiodere commented on #117
Done guys 👍

[2018-07-16 08:40] #117 closed, assigned to nobody

[2018-07-16 08:41] caiobiodere commented on #115
@ceeyang Please check again using the new framework 7 v3 version, I just pushed these changes

[2018-07-16 08:41] #111 closed, assigned to nobody

[2018-07-16 08:45] wxfred commented on #117
Bravo!

[2018-07-16 09:04] caiobiodere commented on #108
@catalsdevelop @hastom @tartinesKiller Thank you guys, everything is working now 👍

[2018-07-16 09:04] #108 closed, assigned to nobody

[2018-07-16 09:05] caiobiodere commented on #58
@mix3d are you still looking for this solution or did you find anything else?

[2018-07-16 09:08] caiobiodere commented on #62
hey @ryaposov, did you try using the @victoryhb solution?

[2018-07-16 14:31] mix3d commented on #58
The solution I posted worked for me, and I moved on. I would still love to see a better approach, however, but this was also f7 1.x and not 2.x

[2018-07-16 20:45] caiobiodere commented on #58
@mix3d I will work through your way if I find anything else I will tell you

[2018-07-17 07:47] ceeyang commented on #115
I fix my problem:
`
npm install framework7@latest
npm install framework7-vue@latest
npm install framework7-icons@latest
`

replace the *main.js* and *main.vue* file with this template
the problem fixed.

thanks

close #115

[2018-07-17 07:47] ceeyang commented on #115
I fix my problem:
`
npm install framework7@latest
npm install framework7-vue@latest
npm install framework7-icons@latest
`

replace the *main.js* and *main.vue* file with this template
the problem fixed.

thanks

close #115

[2018-07-17 07:56] ceeyang commented on #115
I had update this framework7 version, but it still not work.

[2018-07-17 07:58] ceeyang commented on #115
When i push two page, then back the previous page, the problem still happen.
if the child controllers count is greater than two, get back is ok.
This problem only happend when i had pushed tow pages, from second page back to first page, it happend.the first page's title and backbutton is hidend,
I am got crazy.

[2018-07-17 08:04] ceeyang commented on #115
like this:
![image](https://user-images.githubusercontent.com/16550007/42804290-1b733024-89db-11e8-9978-7afaf1ae5787.png)

[2018-07-17 22:11] caiobiodere commented on #115
[project.zip](https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/files/2203577/project.zip) Please use this one.

Hey @ceeyang I hope you are doing a great day, I've been testing on what did you say and everything is ok, let me know everything else.

[2018-07-19 13:25] mbaah80 commented on #7
i try it but still not working
<div href="#" class="thumbnail">
      <img src="static/bo.jpg" alt="Book 1">
 </div>

[2018-07-25 10:17] caiobiodere commented on #115
@ceeyang how was it?

[2018-07-31 01:43] ceeyang commented on #115
I am sorry, I just see the message now, I am going testing this again.

[2018-07-31 01:46] ceeyang commented on #115
I find another bug in my repository:

Sometimes when I back to home, the home page cann't navigate the another page.

If possible, there is my project repository:

https://github.com/ceeyang/PDAScanner

Account: 999999
Password: 123456

[2018-07-31 02:55] KevinCarroll7737 opened #118 "webpack error"
Every time I install a new npm package, when I do a relase, I get this error.

[code]

[2018-07-31 08:06] ceeyang commented on #115
The package you sent me it's ok. I don't know what's wrong with my project.

[2018-08-01 09:05] atanderG opened #119 "how sass is compiled ?"

[2018-08-01 09:06] atanderG commented on #119
.scss file to www folder ...

[2018-08-01 14:35] Bek81 opened #120 "IOS build and deploy"
Hi,
I need help.

I installed and develop a test app. Now I should do the package and install everything on IOS devices.
I have generated various certificates and provisioning.
But now I do not know how to proceed using the cordova commands (without Xcode).

Can you help me?
Can you tell me a step by step procedure to deploy on device?
Please.

Thanks and regards.

[2018-08-01 21:17] caiobiodere commented on #119
Please check this file:
https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/blob/master/template_src/webpack.config.js

[2018-08-01 21:19] caiobiodere commented on #120
Please check this link:
https://code.tutsplus.com/tutorials/how-to-submit-an-ios-app-to-the-app-store--mobile-16812

[2018-08-02 00:02] caiobiodere commented on #118
Did you try updating your cordova and packages versions?

[2018-08-02 00:05] caiobiodere commented on #115
@ceeyang did you try using cordova instead of phonegap?

[2018-08-02 00:48] ceeyang commented on #115
I was always use cordova to run my project.

[2018-08-02 08:18] Bek81 commented on #120
Oh... ok. Thanks a lot,
but I do not have an xcode project: I installed everything following your instructions with the command
"cordova create <project_create_dir> [com.example.projectname] [ProjectClassName] --template cordova-template-framework7-vue-webpack".

is it ok anyway?

Also, I don't want to upload the app to the app store.

[2018-08-02 10:14] Bek81 opened #121 "Live Reload on IOS emulator"
Hi,
some problems with **live-reload** on my iphone simulator:

I follow your
[https://github.com/caiobiodere/cordova-template-framework7-vue-webpack#warning-for-linux-and-mac-os-users](url)

For live-reload i can't find easy way to do fixed version of this. But you can develop your app with this way: cordova platform add ios browser (browser needs for development in live-reload mode.)
cordova run

[2018-08-02 11:07] Bek81 commented on #121
I tried this way:

1. phonegap run ios -- --lr
2. cordova run browser -- --lr

it seems to work.

[2018-08-03 09:25] Bek81 commented on #120
Ok,
after several attempts, and after finding the xcodeproject file in the platforms folder, I managed to build ipa with xcode and I installed everything on ipad. it works!

[2018-08-06 04:44] caiobiodere commented on #120
Awesome work @Bek81 !

[2018-08-06 04:44] #120 closed, assigned to nobody

[2018-08-06 04:47] caiobiodere commented on #121
This is probably because you already had one listener with 8081 on your list like they said to you (EADDRINUSE).

You could use this guide when that happens:

1. (Find out the process ID (PID) which is occupying the port number (e.g., 8081) you would like to free)
sudo lsof -i :8081

2. Kill the process which is currently using the port using its PID
sudo kill -9 PID

[2018-08-06 04:47] #121 closed, assigned to nobody

[2018-08-06 04:47] #119 closed, assigned to nobody

[2018-08-06 14:01] agfp commented on #7
I have figured it out.

`<img :src="$device.desktop ? '/static/image.png' : 'file:./static/image.png'" />`

It will address the image differently on the browser and on mobile, and will load it on both of them.

[2018-08-08 08:49] khudia opened #122 "MD Icons support"
Can't fix to work material icons.
`<f7-icon material="home"></f7-icon>` = not works((
thanks!
----
and another question where to  put this
`document.addEventListener("deviceready", onDeviceReady, false);`

thanks a lot!!! your bundle is awesome!!

[2018-08-16 08:09] vahidalvandi opened #123 "add npm installer"
hi
please add npm installer

[2018-08-18 05:28] caiobiodere commented on #123
Hey @vahidalvandi for what purpose do you need an npm installer?

[2018-08-18 05:30] caiobiodere commented on #118
Ok I think yes, just let me know anything else

[2018-08-18 05:30] #118 closed, assigned to nobody

[2018-08-18 05:52] caiobiodere commented on #115
hey @ceeyang did you fix that (sorry for my delay)?

I was just seeing your project and looks good for me.

[2018-08-18 09:19] vahidalvandi commented on #123
for get last version in each new project automaticaly

[2018-08-18 10:18] caiobiodere commented on #123
I know what you mean but this is not like a framework, it's just a template to copy and use for yourself

[2018-08-18 11:24] caiobiodere commented on #122
I fixed to support material icons on this theme that you can check here: https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/releases/tag/2.0.8

```document.addEventListener("deviceready", onDeviceReady, false);```
You can put that code on main.js file

[2018-08-18 11:24] #122 closed, assigned to nobody

[2018-08-18 22:24] davide93 opened #124 ":push-state doesn't work"
`<f7-view url="/"  :push-state="true" :main="true"></f7-view>`

or via

[code]

Work correctly only via live reload browser/android. But not in compiled app.
Can you confirm? Any suggestions?

Ty.

[2018-08-19 15:28] khudia commented on #122
Thanks a lot!!

[2018-08-19 21:02] caiobiodere commented on #124
@davide93 Please check framework7 v3 documentation on Push State section

https://framework7.io/docs/view.html

[2018-08-20 09:17] Bek81 opened #125 "STATIC FOLDER - files content"
Hi,
I tried to insert a sub directory called "experience" in the "src/static" folder. Its structure is like in the screenshot:
<img width="168" alt="screen shot 2018-08-20 at 11 08 33" src="https://user-images.githubusercontent.com/10144127/44331284-74a08b80-a469-11e8-9c5b-c0b6aa7a9793.png">

I run with the command:
`cordova run browser -- --lr`

When I try to modify one of the static files (index

[2018-08-20 22:50] KevinCarroll7737 commented on #118
Thanks for the quick answer and sorry man A LOT going on here.

[code]

Any idea?

[2018-08-20 23:48] KevinCarroll7737 commented on #118
Sorry my man. I was all wrong.. Thanks for the support :)

[2018-08-21 03:40] ceeyang commented on #115
I don't fix it. thanks for you help.
I do't know what's wrong.

[2018-08-22 10:52] mwargan commented on #87
Also experiencing this issue on a fresh install with `cordova create cordova data-center [com.example.data] [DataCenter] --template cordova-template-framework7-vue-webpack`... with Cordova v8.

Edit: silly me, I had to remove the brackets :P

[2018-08-22 11:57] mwargan opened #126 "cordova run ios error (domain=NSPOSIXErrorDomain, code=2)"
On a fresh install I'm able to get cordova running in the browser, but when I run `cordova run ios` I get the following error:

[code]
Running Cordova 8 on MacOS Mojave.

What is going on here?

[2018-08-22 13:44] Bek81 commented on #125
Please, can you help me?

[2018-08-23 21:22] caiobiodere commented on #126
I didn't test yet but why are you try running on MacOS Mojave? I think that should be your problem try updating your system and Xcode versions.

[2018-08-23 21:23] caiobiodere commented on #125
Hi @Bek81 I will try this tonight

[2018-08-23 21:23] caiobiodere commented on #124
@davide93 How was it?

[2018-08-23 21:23] #123 closed, assigned to nobody

[2018-08-23 21:24] caiobiodere commented on #115
@ceeyang could you make a video describing your problem?

[2018-08-23 22:05] mwargan commented on #126
System is running the latest Beta of MacOS - can't update further :D!

I got this to work but can't remember what it was - I think something to do with the provisioning profile...

Later on I did have to get Xcode Version 10.0 beta 6 to overcome an issue with device support for iOS12 beta version - for anyone working with the Apple beta program ;)!

[2018-08-23 22:08] caiobiodere commented on #126
Well done! Probably because you didn't correctly set your account profile and certificates, profiles etc

Let me know anything else.

[2018-08-23 22:08] #126 closed, assigned to nobody

[2018-08-24 05:18] ceeyang commented on #115
@caiobiodere
I am sorry i am too late.
https://youtu.be/uS5_Xt1WirE

In my project:
It only happed when i had logined and the first push to second page.

[2018-08-24 08:29] davide93 commented on #124
@caiobiodere  Add :push-state directly in <f7-view :push-state="true"> it doesn't work.

[2018-08-25 23:37] KevinCarroll7737 commented on #111
I am doing this ATM, any advises?

[2018-08-27 09:52] Bek81 commented on #125
Hi @caiobiodere ,
do you have any news for us?

[2018-08-28 04:47] caiobiodere commented on #125
Hi @Bek81 I fixed your problem check using this release:

https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/releases/tag/2.0.9

[2018-08-28 08:18] Bek81 commented on #125
Hi @caiobiodere ,
I have updated (according to the release) the file "hooks/hookers.js"; I don't think there was anything else to update.
Now almost everything seems to work; there is only one thing that seems wrong to me:
I add the line of code
`console.log('fix test');`
to the file "src/static/experience/js/default.js".
The contents of the file are not deleted.
The contents are correctly copied

[2018-08-28 09:11] caiobiodere commented on #125
Hi, @Bek81 for running with live-reload you just need to have those files in the root folder.

[2018-08-28 09:39] Bek81 commented on #125
Yes, ok.
So when I build, the static folder is copied to the platform. right?

[2018-08-28 09:39] caiobiodere commented on #125
Yes, correctly

[2018-08-28 09:46] Bek81 commented on #125
Thanks a lot!

[2018-08-28 09:52] #125 closed, assigned to nobody

[2018-08-30 18:33] wxfred commented on #124
@davide93 Accroding to the author of framework7, you can try to listen 'backbutton' instead of using 'push-state'. It seems that push-state is unstable with Cordova app.
[Check this out](http://forum.framework7.io/t/cordova-phonegap-build-white-page-now/1420/17)

[2018-08-31 11:15] khudia opened #127 "https for map api usage at debuging"
is it possible to use https protocol for server while debuging to use, in my case, yandex map api.

[2018-08-31 13:21] Bek81 opened #128 "assets/images"
Hi,
I have a problem with image loading.

I'm using the Vuex.Store object in storage.js where I instantiate an element with the path "assets/images/test.jpg" (I tried different options for the path) called in a VUE file.
The file is certainly in the "src/assets/images/" folder, but I have a 404 error in the browser console (screenshot).

<img width="147" alt="screen shot 2018-08-31 at 15 17 12" sr

[2018-09-01 23:49] caiobiodere commented on #128
@Bek81 please check:

https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/issues/17

[2018-09-01 23:49] caiobiodere commented on #124
Thank you @wxfred

[2018-09-01 23:49] #124 closed, assigned to nobody

[2018-09-03 02:22] caiobiodere commented on #127
hey @khudia I think you can use these guides:

https://cordova.apache.org/docs/en/latest/guide/appdev/security/
https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-whitelist/

[2018-09-03 07:31] Bek81 commented on #128
Hi @caiobiodere  ,
so I have to use the "src/static" folder instead of "src/assets/images"?

[2018-09-03 08:32] #127 closed, assigned to nobody

[2018-09-03 08:34] caiobiodere commented on #128
you can use both ways if you are trying on assets try like this:

`<img src="../../images/logo.png" width="189" height="144" alt="">`
because webpack creates another name for images and everything that's why you need to put the correct reference like "../../images/logo.png" to find them

[2018-09-03 14:27] ceeyang commented on #115
I do't know what's problem with my project.
Thanks for your help very much.
I decided to give up on this framework.
I do't know what's wrong.
but, now the deadline arrived. I had chooese my project root view.
thanks so much.

[2018-09-03 14:31] #115 closed, assigned to nobody

[2018-09-03 20:20] khudia commented on #127
think i won't fix it out (

[2018-09-05 05:47] caiobiodere commented on #128
hey @Bek81 how was it?

[2018-09-05 07:33] Bek81 commented on #128
Ok, @caiobiodere .
for now we will use the static folder. thank you

[2018-09-05 07:52] caiobiodere commented on #128
awesome!

[2018-09-05 07:52] #128 closed, assigned to nobody

[2018-09-11 20:52] khudia opened #129 "Build for ios"
When i am tryin to build app using xcode on debuging device, it's building with live reload, but i don't need. I need of course in testing but i don't know how to disable or enable it later. May there is some command to just build app without hooks so that i will be able to build app on my debug device just using xcode and then publish.

[2018-09-13 01:55] ceeyang commented on #115
@caiobiodere It's a bug with framework7, not this project
more detail:
https://github.com/framework7io/framework7/issues/1985

[2018-09-17 19:45] dineshmaths1 commented on #38
Am using Angular CLI: 6.2.2 , Node: 8.11.1 and OS: darwin x64 This is my etc hosts 127.0.0.1 dinesh.mysocialapi.com

This is my comment node_modules/@angular/cli/bin/ng serve --host 0.0.0.0 --disableHostCheck true

am getting this error how to fix ? Loading failed for the with source “http://dinesh.mysocialapi.com/vendor.js”. dinesh.mysocialapi.com:34

[2018-09-18 08:42] khudia commented on #129
`cordova prepare ios` )) thanks
And i do not understand is there is an ability for livereload using real ios device

[2018-09-19 01:34] caiobiodere commented on #129
@khudia yes of course, you just have to do it by yourself using (please check if your iPhone has been connected and profiles, account, etc are okay):
```cordova run ios -- --lr ```

[2018-09-22 22:41] katk0smos opened #130 "Feature Request: Improve Webpack Error Messages"
The current error messages given out by webpack aren't very verbose and don't describe the problem.
For instance, it usually outputs something similar to this:
[code]

Improving the error messages would help to let us see exactly where and what the error is.

Of course, an alternative would be adding a linter, e.g. ESLint.

[2018-09-28 18:30] mehrancodes opened #131 "babel-core error"
I've got the below error msg when running `cordova run browser -- --live-reload`:

`Module build failed: Error: Cannot find module 'babel-core'`

After moving these three lines from dependencies to devDependencies, everything works fine:

package.json
[code]

[2018-09-30 22:28] #129 closed, assigned to nobody

[2018-09-30 22:32] caiobiodere commented on #130
I think that ESLint way is a good one for now 👍 I will work through your way

[2018-09-30 22:39] caiobiodere commented on #131
Thanks @mehranrasulian ! 👍

[2018-09-30 22:39] #131 closed, assigned to nobody

[2018-10-05 11:04] khudia commented on #129
All is done. Thanks. And my app is published at appstore successfully....after two weeks of pending))

[2018-10-09 17:37] jeryckho opened #132 "error webpack build"
Hello there.

I've got this error when i launch `cordova run browser`:

[code]
Win7 / node 8.11.4 / npm  4.1.2 / Cordova 8.1.2

[2018-10-09 21:19] eXployd commented on #132
Same error in android for me cant build anything except for IOS platform.

[2018-10-11 04:01] caiobiodere commented on #132
I checked you guys error, sorry by my mistake I forgot to put the material icons library into package.json.

Please use this release: https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/releases/tag/2.0.10

[2018-10-11 04:01] #132 closed, assigned to nobody

[2018-10-11 04:02] caiobiodere commented on #130
@TheWaffleDimension I fixed that problem that was not showing webpack errors and probably going to put ESLint into the new version, thank you for your feedback

Last release: https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/releases/tag/2.0.10

[2018-10-11 04:02] #130 closed, assigned to nobody

[2018-10-18 21:17] mitkovalkov commented on #7
This work for me:

[code]

[2018-10-25 11:25] Kristiyandz commented on #54
Useless community...

[2018-11-26 08:18] reksc commented on #121
Hi, I'm experiencing pretty much the same issue. I understand the nature of the error etc.

In my case, every call to ``cordova run`` will setup a dev server listening on :8081. However, the command exits after running the selected environment (is this normal?) and the only option I can think of to stop the server process is the one listed above - killing through it's PID. When working on npm/webp

[2018-12-08 02:23] rainfu commented on #62
@caiobiodere  that solution by @victoryhb  only has effect the first time ,when user refresh page with f5, i't can't work,

i have pulled a solution to fix [this](https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/pull/135) ,it's get user device by user input cmd ,when user input 'cordova run browser...' ,thd body will inject '/browser/cordova.js' just soso.

[2018-12-12 20:02] caiobiodere commented on #62
@rainfu thank you very much, I just added a new release called "2.1.1"

[2018-12-12 20:02] #62 closed, assigned to nobody

[2018-12-20 21:13] j0hannesr0th opened #136 "internationalization best practice"
What's the best practice to add an internationalization like [http://kazupon.github.io/vue-i18n/](http://kazupon.github.io/vue-i18n/) ?

-> use vue-clie and then check that you access the right thing -.-
vue add i18n

[2018-12-20 21:25] #136 closed, assigned to nobody

[2018-12-21 15:53] VisualMafia opened #137 "How to make prod and dev version?"
Interested in minification. Thanks

[2018-12-24 13:37] VisualMafia opened #138 "main.scss - not work"
Styles from this file do not work. Most likely, it needs to be connected separately?

[2018-12-24 13:43] VisualMafia commented on #138
fix: add <style src="./assets/sass/main.scss" lang="scss"></style> to main.vue

[2018-12-29 23:35] innoflash opened #139 "Phonegap build tip"
Hey fellas, i usually have issues developing my app using windows with Android Studio so i have opted to Phonegap Build.

I used to win when using Framework7 with just Phonegap but now i want this one with VueJS but i cant seem to get the best way to go about it, current i have a repo
[https://github.com/innoflash/hw2](https://github.com/innoflash/hw2)
that i am importing to phonegap build.

The a

[2019-01-03 10:30] vahidalvandi opened #140 "please add rtl"
please add rtl

[2019-01-03 21:36] caiobiodere commented on #139
did you check the readme file? I wrote something because of some phonegap problems, I would like you to try using cordova following this guide:

[Cordova](https://cordova.apache.org/docs/en/latest/guide/cli/)

IMPORTANT: Phonegap build tools not supported currently. I suggest to use cordova with this template.

[2019-01-03 21:38] caiobiodere commented on #138
You can also use putting the scss reference on main.js file like this:

`import AppStyles from './assets/sass/main.scss'`

[main.js example](https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/blob/master/template_src/src/main.js)

[2019-01-04 08:21] lakshmisap90 commented on #7
thanks @mitkovalkov . It worked!

[2019-01-04 09:27] VisualMafia commented on #138
yeah, thanks!

[2019-01-04 09:27] #138 closed, assigned to nobody

[2019-01-04 16:53] cemarta7 commented on #7
I dont know if it will be useful for any body but I was able to make the background image work with css with this using the next background url.

thanks to https://github.com/vuejs/vue-cli/issues/48#issuecomment-312070916

so my css looks like:

`.some-class{
		    background-image: url('~static/images/image.svg');
}`

[2019-01-08 13:52] f0b04707 opened #141 "Update to latest version of modules and template"
Hi !

Thanks for the great template ! How do you update to the latest version of the template and modules ? As an example, Framework7 release framework7-icons v2.

Thanks !

[2019-01-10 03:58] mingxin-yang commented on #128
@caiobiodere Hi,i have the same problem.
I have put the images into static/image/ folder.

[code]

[code]

[2019-01-10 08:02] itsyub commented on #128
@mingxin-yang , try using `background: url(static/images/f7-icon.png)`

[2019-01-10 08:14] mingxin-yang commented on #128
@itsyub ，I try it ,but it didn't work.
but,
[code]
this is success.
I think that it is the error of  "f7-icon"

[2019-01-11 07:45] mingxin-yang opened #142 "The style.css file lost something"
In my home.vue, I use the <f7-icon>
[code]
my app.css
[code]
But in style.css, I can't find .icon-f7.
Why? Is it the problem of webpack? How I solve it?

[2019-01-11 09:16] VisualMafia opened #143 "cordova build android --release -failed"
:app:lintVitalRelease FAILED
* What went wrong:
Execution failed for task ':app:lintVitalRelease'.

[2019-01-11 10:01] VisualMafia commented on #143
Fix: Change in platforms/android/build.gradle
change **jcenter ()** to
**jcenter {
	url "http://jcenter.bintray.com/"
}**

[2019-01-11 10:01] #143 closed, assigned to nobody

[2019-01-11 10:06] mingxin-yang commented on #142
Which folder should I put my css file in?

[2019-01-12 14:23] #142 closed, assigned to nobody

[2019-01-13 21:18] ngangchill commented on #141
this template throws error with npm deprecation error

![capture](https://user-images.githubusercontent.com/4242225/51090757-1d4ddf80-17ab-11e9-837a-c1cccbccffc2.PNG)

[2019-01-14 10:29] caiobiodere commented on #139
I'm closing but please let me know if you need any other help

[2019-01-14 10:29] #139 closed, assigned to nobody

[2019-01-15 17:15] lgally commented on #137
Hi, I have found a bit of a crappy workaround... in webpack.config.js make the following changes;

    mode: "production",
    //mode: (env && typeof env.release !== 'undefined' && env.release) ? "production" : "development",

[2019-01-18 22:14] caiobiodere commented on #141
hey @WhistleMaster I just finished the updates and everything :) Please use the last release: [2.3.0 - Release](https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/releases/tag/2.3.0)

[2019-01-18 22:14] #141 closed, assigned to nobody

[2019-01-18 22:17] caiobiodere commented on #137
hey @VisualMafia and @gally90 I created three different files for each one of these configurations:

webpack.config.dev.js
webpack.config.release.js
webpack.config.server.js

if you wanna use the minification with cordova in order to create a new build just follow this command:
cordova run (ios | android) --release

Check the last release: [Release - 2.3.0](https://github.com/caiobiodere/cordova-t

[2019-01-18 22:18] #137 closed, assigned to nobody

[2019-01-19 08:19] f0b04707 commented on #141
@caiobiodere thanks ! How do you update an existing project to the latest version ?

[2019-01-20 21:25] caiobiodere commented on #141
@WhistleMaster you can use this command to have a check:

Check the latest version: `npm outdate`

[2019-01-21 09:50] VisualMafia opened #144 "Obfuscator?"
Someone added obfuscator? Everything that did not try, breaks the application.

[2019-01-24 09:23] caiobiodere commented on #144
hey @VisualMafia can you explain it better for us?

[2019-01-24 09:25] caiobiodere commented on #140
hey @vahidalvandi is this what are you looking for?

[Webpack rtl plugin](https://github.com/romainberger/webpack-rtl-plugin)

[2019-01-24 09:45] vahidalvandi commented on #140
hi . yes

[2019-01-24 11:31] VisualMafia commented on #144
If someone unpacks * .apk and opens * .js, it will not be able to easily see the source code. This is good for safety. But everything I tried encodes the code, but breaks the application.

[2019-01-30 14:18] VisualMafia commented on #144
really do this?

[2019-01-31 15:33] vahidalvandi commented on #140
f7 support rtl ! but how use it ,

[2019-01-31 15:34] vahidalvandi commented on #140
https://framework7.io/docs/rtl-layout.html

[2019-01-31 16:07] vahidalvandi opened #145 "please create a empty starter"
please create a empty starter and remove sample page and code

[2019-01-31 16:48] vahidalvandi opened #146 "how i can import same compoents instead all ?"
import { f7List, f7ListItem, f7Navbar } from 'framework7-vue';

https://framework7.io/vue/installation.html

[2019-02-05 01:09] caiobiodere commented on #146
I didn't understand your question, you are already importing specific components aren't you?

[2019-02-05 01:10] caiobiodere commented on #145
you sure is that good for all the users?

[2019-02-05 01:12] caiobiodere commented on #144
but why do u need to unpack your .apk files? can you describe it better?

[2019-02-05 01:15] caiobiodere commented on #140
@vahidalvandi if you wanna use just the framework 7 rtl file, just use like this in your main.js file:

[code]

[2019-02-05 07:49] vahidalvandi commented on #145
yes yes

[2019-02-05 07:50] vahidalvandi commented on #146
i need use same component instead bundle maybe this can optimize load and animations

[2019-02-05 07:56] itsyub commented on #145
@caiobiodere it's not really helpful to other users.
But what we can give is CLI option to the users about their choice, do they want sample code or not ?
[Like this](https://github.com/nuxt/create-nuxt-app#features-tada). It's good to have feature.

[2019-02-05 07:58] vahidalvandi commented on #145
@itsyub  if have option in install very good

[2019-02-07 11:55] VisualMafia commented on #144
Anyone can unpack * .apk and open * .js and see the code that I would not like to show.

[2019-02-07 12:09] itsyub commented on #144
@VisualMafia Have you tried [this encryption plugin](https://github.com/tkyaji/cordova-plugin-crypt-file) .

[2019-02-07 19:34] khudia opened #147 "Please update to framework v4 )) Thanks!"

[2019-02-12 12:00] donotlb commented on #147
refer to: [The Best Framework7 Yet. What Is New In v4](https://blog.framework7.io/the-best-framework7-yet-what-is-new-in-v4-74b2b467047c)

[2019-02-14 15:48] VisualMafia commented on #144
Thanks, the plugin is good, but it breaks everything in this build. And if you use the methods Vue is the same. As I understand it, the problem is in index.html. What could be the problem?

[2019-02-17 19:34] VisualMafia commented on #144
I use https://github.com/javascript-obfuscator/webpack-obfuscator - all ok. But, work only for release.

[2019-02-25 03:46] casyalex opened #149 "ios build error: requires a provisioning profile"
HI,
I build the project by using `cordova build ios` then failed with missing provisoning file.
But it works on Xcode by import the provisionFIle manually.
[code]
My project need CICD, so i can't build it by Xcode everytime.
Here is my build.json setting:
[code]
I'm sure the provisioningFile is in the my ~Libary/**** location, and all the names or IDs are correct.

[2019-02-25 05:13] itsyub commented on #149
@casyalex  For CICD,  why don't you use [fastlane](https://docs.fastlane.tools/getting-started/ios/appstore-deployment/).

[2019-02-25 06:08] casyalex commented on #149
Problem solved，cordova-ios doesn‘t support Xcode 10.
set Legacybuildmode and archive success.
[code]
@itsyub Thank you, learning on this now.

[2019-02-25 06:08] #149 closed, assigned to nobody

[2019-02-26 07:34] ajcool2k commented on #147
I upgraded my vue-webpack-f7 setup yesterday. It's really not a big issue. [Migration To Framework7 v4](https://blog.framework7.io/migration-to-framework7-v4-89d1ce49f4c0)

[2019-02-26 08:31] ajcool2k commented on #144
Doubt there's much you can do about it because your client will always be able to read your code in plaintext since you decided to go by a plaintext runtime script language. Obfuscator won't protect your code since you could easily beautify it again.

[2019-02-26 08:45] ajcool2k commented on #146
I believe you are on the right track. You are only using f7List, f7ListItem and f7Navbar not the whole package by your import call. [Module](https://framework7.io/vue/package.html#es-module)

[2019-02-27 09:45] VisualMafia commented on #144
In this case, the protection is not from customers. I don't want my code to be read or copied easily.

[2019-02-27 11:37] 0dysseas commented on #7
Or this shorthand can also be used (the vue-cli scaffolding project makes use of this):
:src="require('../assets//images/pin.svg')"

[2019-03-03 21:48] caiobiodere commented on #147
Attending what you guys asked a new version related to framework7 4 version has been pushed and is now live!

[2019-03-03 21:50] caiobiodere commented on #146
@vahidalvandi I think you have been doing pretty well, don't worry because as @ajcool2k said you are already doing it by using bundles

[2019-03-03 21:50] #146 closed, assigned to nobody

[2019-03-03 21:51] caiobiodere commented on #144
I liked your suggestion - https://github.com/javascript-obfuscator/webpack-obfuscator

I will probably think to add this later, thank you @VisualMafia !

[2019-03-03 21:51] #144 closed, assigned to nobody

[2019-03-03 21:52] #140 closed, assigned to nobody

[2019-03-03 21:56] caiobiodere commented on #145
hey guys, I've been thinking on this wizard but i still not sure about what kind of templates we can use, I would like some suggestions if you guys can help! (restaurants, travels, etc)

If you guys wanna have a check on what I've been working, please check this project:
[Project](https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/projects/1)

[2019-03-03 21:59] caiobiodere commented on #149
hey @casyalex if you follow this link you should be fine 👍
[build.json](https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/blob/master/template_src/build.json)

[2019-03-04 04:43] itsyub commented on #147
@caiobiodere  Framework7-4.0.0 doesn't support older browsers. Can you please create tag/branch for 3.0.0, so the user can select which framework7 version they want? For example like [this](https://github.com/lean/phaser-es6-webpack#phaser-3-supported-in-this-branch-httpsgithubcomleanphaser-es6-webpacktreephaser3)

[2019-03-04 04:45] caiobiodere commented on #147
@itsyub good idea! I will probably create a tag regarding that I'm also creating more templates using tags

[2019-03-04 08:35] VisualMafia opened #150 "How to use FontAwesome in this template?"
Icons are not loaded. Is there an example of how to use FontAwesome in this template? Thanks

[2019-03-04 09:45] itsyub commented on #145
@caiobiodere check [this](http://framework7.io/templates/) official template page.  We can create a templates based on this official templates.

[2019-03-04 09:58] VisualMafia commented on #150
Sorry, I did not understand right away :) class="fa fa-check-square"

[2019-03-04 09:58] #150 closed, assigned to nobody

[2019-03-22 22:21] balakan commented on #7
Thanks @0dysseas.  Worked!

[2019-03-25 10:31] Overman775 opened #152 "Cordova 9"
Hi! On cordova v9 drop dependency on Q. Need rewrite cordova hooks...
https://github.com/apache/cordova-lib/pull/710

When we cordova run an error appears:
`Using "requireCordovaModule" to load non-cordova module "q" is not supported. Instead, add this module to your dependencies and use regular "require" to load it.`

[2019-03-25 12:13] plussoftjo commented on #152
just back to cordova 8.1.2

npm uninstall -g cordova
npm install -g cordova@8.1.2

when owner this rep update the dependencies to cordova 9 you can update it

[2019-03-25 12:14] plussoftjo opened #153 "please update to cordova 9"
cordova 9 is come please update this great rep to cordova 9

[2019-03-26 03:53] caiobiodere commented on #152
All issues regarding Cordova 9.0.0 new version have been fixed, you guys can use it! thank you guys 👍

[2019-03-26 03:53] #152 closed, assigned to nobody

[2019-03-26 03:54] caiobiodere commented on #153
All issues regarding Cordova 9.0.0 new version have been fixed, you can use it! 👍

[2019-03-26 03:54] #153 closed, assigned to nobody

[2019-03-28 07:07] cyrusonline opened #154 "Cannot find module 'q'"
Cannot find module 'q' when platform add browser

[2019-03-28 07:10] Overman775 commented on #154
Update template hooks https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/issues/152

[2019-03-28 07:11] caiobiodere commented on #154
Please update your Cordova version to the new 9.0.0.

If you don't know how to do it you can see at [Cordova Installation](https://cordova.apache.org/docs/en/latest/guide/cli/index.html)

[2019-03-28 10:16] lingjiawen opened #155 "app run slow in my iphone8"
Hello! I have used the command "cordova run ios" to install app, but the App running speed was slow when I do any operation. However,  the same problem didn't happen in Android platform and browser.

[2019-03-28 10:20] lingjiawen commented on #155
I used "webpack.release ", then the command "cordova run ios" throwed a error:
" cordova-template-framework7-vue-webpack/template_src/node_modules/webpack-cli/bin/cli.js:231
throw err;"

[2019-03-28 10:21] lingjiawen commented on #155
Do u have any suggestion for me? Thanks very much

[2019-03-28 19:57] caiobiodere commented on #155
@lingjiawen did you try this command?
`cordova run ios -- --lr`

[2019-03-29 04:18] lingjiawen commented on #155
@caiobiodere yep i did, the command caused the same problem: app running slow in ios platform, all operations received about 1s delay

[2019-04-01 10:13] caiobiodere commented on #155
not sure if it is correct but seems that iOS doesn't like Framework7 Vue components [Reference](https://stackoverflow.com/questions/52889691/accordion-animation-is-really-slow-in-ios-framework7-vue-app), anyway I am still searching for better answers

[2019-04-01 10:13] #154 closed, assigned to nobody

[2019-04-01 10:52] caiobiodere commented on #155
@lingjiawen just to you know that I found the exactly problem, working on it

https://github.com/lasselaakkonen/fastclick/tree/fix-ios-11-3-event-timestamps

[2019-04-01 11:08] caiobiodere commented on #155
@lingjiawen All delay bugs have been fixed and pushed! Please check again using the new 2.3.8 version -> [Release 2.3.8](https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/releases/tag/2.3.8)

[2019-04-01 11:08] #155 closed, assigned to nobody

[2019-04-17 09:19] CDT commented on #7
Try this simpler syntax(not sure if it works):

`<img :src="require('./assets/static/images/sample.jpg')">`

[2019-04-17 10:00] NikitaKA opened #156 "Webpack release configuration doesn't work at all"
**When building to production, wrong configuration is used!**

After few months of development I've tried to build my app to production and was confused: `cordova build android --release` use **webpack.dev** configuration. You can easily check this out by inserting `console.log` into ifs inside `webpack.config.js`. In current version of this repo `webpack.release.js` throws error: `path is not def

[2019-04-17 12:57] daxpunk opened #157 "framework7-vue as bundle"
Hi,

Why do you not include Framework7 vue as bundle in main.js:
`import Framework7Vue from 'framework7-vue/framework7-vue.esm.bundle';`

It permit to have a more light code in pages non ?

Dax

[2019-04-18 03:40] caiobiodere commented on #157
Hi @daxpunk,

I was wondering the same when I made this change, but if you think that you are only using some components in some pages it's actually a good thought

[2019-04-18 10:03] VisualMafia opened #158 "Live reload & API requests"
Live reload & API requests not working.
Only Request Method: OPTIONS

[2019-04-18 10:51] daxpunk commented on #157
Sure, I tell this just because it's a template, it's easiest to start a new project with lightest files, no?

[2019-04-28 04:38] lulumalik opened #159 "Can't resolve framework7/css/framework7.bundle.min.css"
Hmm.. there are something missing in my modules

ERROR in ./src/main.js
Module not found: Error: Can't resolve 'framework7/css/framework7.bundle.min.css'

and there nothing file like framework7.bundle.min.css , or i missing something ?

[2019-04-28 04:43] lulumalik commented on #159
after i read this https://blog.framework7.io/migration-to-framework7-v4-89d1ce49f4c0

I tried importing the previous css, which was .min.css, and it was running normally but not completely css loaded

[2019-05-16 11:53] khudia opened #160 "Fontawesome 5?"
Could you add v5? Thanks!

[2019-05-19 06:56] caiobiodere commented on #157
Yes it is for primary purposes, but my idea is to put you people in a better path

[2019-05-19 06:56] #157 closed, assigned to nobody

[2019-05-19 07:50] caiobiodere commented on #160
Added into 2.3.9! 👍

[2019-05-19 07:50] #160 closed, assigned to nobody

[2019-05-19 07:51] caiobiodere commented on #159
Please check the latest 2.3.9 version!

[2019-05-19 07:51] #159 closed, assigned to nobody

[2019-05-19 07:51] caiobiodere commented on #158
Please check the latest 2.3.9 version!

[2019-05-19 07:51] #158 closed, assigned to nobody

[2019-05-19 07:52] caiobiodere commented on #156
Please check the latest 2.3.9 version!

[2019-05-19 07:52] #156 closed, assigned to nobody

[2019-05-21 06:11] khudia commented on #147
Thanks for update!

[2019-05-21 06:11] #147 closed, assigned to nobody

[2019-05-21 06:11] khudia commented on #160
Awesome!!! Thanks!

[2019-05-27 06:02] longting opened #161 "Project not working on Android (< 7.0) ,white screen"
project version : `2.3.X`

![image](https://user-images.githubusercontent.com/5129611/58398267-17380b80-8087-11e9-9152-7f9113437bec.png)

[2019-05-27 06:22] #161 closed, assigned to nobody

[2019-05-28 20:53] cemarta7 opened #162 "cordova build browser --release Error"
cordova build browser --release
gives this error

ERROR in 9594cda895669512af1a.main.js from UglifyJs
Unexpected token: name «supportsPassive», expected: punc «;» [9594cda895669512af1a.main.js:149346,4]

any ideas?

[2019-05-28 21:30] patrykKlimczak opened #163 "cordova build android --release Error"
Run: `cordova build --release android`

[code]

Any idea?

[2019-05-28 22:09] patrykKlimczak opened #164 "cordova run android -- --lr Alert gap_init:3"
Run: `cordova run android -- --lr`

Everytime when refresh to app i see 4 alert:

`gap_init:3`

`gap:[0,"CoreAndroid","messageChannel","CoreAndroidxxxx"]`

`gap:[0,"CoreAndroid","show","CoreAndroidxxxx"]`

`gap:[0,"CoreAndroid","overrideBackbutton","CoreAndroidxxxx"]`

Any idea?

[2019-05-29 19:43] arielrahmane opened #165 "f7 components"

[2019-05-29 19:43] #165 closed, assigned to nobody

[2019-05-30 14:41] phanviet commented on #163
@patrykKlimczak

Add: `const path = require('path');` in `config/webpack.release.js`

[2019-05-30 17:31] patrykKlimczak commented on #163
Add this file and run, but I have the next problem:

[code]

[2019-06-01 17:02] khudia commented on #163
Yes i got the same errors. Can't build release

[2019-06-04 09:49] VisualMafia opened #166 "Version 2.3.9 - ES Module"
Version 2.3.9 - ES Module. You need to add components separately. This is not very convenient. I would add two options to the assembly so that you can choose.

All components (Bundle)
// Import Framework7
import Framework7 from 'framework7/framework7.esm.bundle.js';

// Import Framework7 Vue
import Framework7Vue from 'framework7-vue/framework7-vue.esm.bundle.js';

[2019-06-04 10:15] VisualMafia commented on #163
I have the same thing

[2019-06-06 04:56] A1Gard opened #167 "overswipe event bug in any device"
I try to create a project with this framework but I seen a bug in `swipeout` with `overswipe`.

### Explain more:
 in[ this ref ](https://framework7.io/docs/swipeout.html#overswipe) write :

With overswipe, script will automatically trigger "click" event on overswipe button, so you need to add appropriate event listener to this button`

but now this feature not work in the this package.

### What

[2019-06-07 10:49] khudia commented on #163
I found how to fix it) (and allready published app by this way) Since google needs app bunddle and not apk to release your app, you need to create keystone for your app then load your app to android studio, then create app bunndle (release) with keystone created and upload app.abb to google console for review! Thats all.))

[2019-06-07 13:13] caiobiodere commented on #163
Are you guys using the last 2.3.9 template version? Because everything worked as expected here, if not I would suggest starting a new one from scratch to see that working well.

I used exactly this build -> `cordova build android --release`

[2019-06-07 13:18] caiobiodere commented on #162
Are you using the last 2.3.9 template version? Because everything worked as expected here, if not I would suggest starting a new one from scratch to see that working well.

I used exactly this build -> `cordova build browser --release`

[2019-06-07 13:22] caiobiodere commented on #164
Are you using the last 2.3.9 template version? Because no errors were showing to me, if not I would suggest starting a new one from scratch to see that working well.

I used exactly this command -> `cordova run android -- --lr`

[2019-06-07 13:23] caiobiodere commented on #167
That's not a real template issue but I will try to help you soon

[2019-06-07 13:27] caiobiodere commented on #166
Can you show me a better explanation to use components as a bundle instead of separately? For me, if I use them individually, I can have a better performance because I would use only as needed

Thanks for your help

[2019-06-07 20:25] khudia commented on #163
how to update template version in dev project?

[2019-06-07 20:34] khudia commented on #163
Just created clean project from template,added platform, run build = the same error!

[2019-06-08 11:52] caiobiodere commented on #163
hey @khudia, I've actually found the problem please follow this webpack release file :

https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/blob/master/template_src/config/webpack.release.js

[2019-06-08 11:53] caiobiodere commented on #162
@cemarta7  I've actually found the problem please follow this webpack release file:

https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/blob/master/template_src/config/webpack.release.js

[2019-06-08 12:39] VisualMafia commented on #163
Good, work, thanks!

[2019-06-08 12:58] VisualMafia commented on #166
Previous versions were Bundle. According to this, if you update an existing application, you can not immediately understand what is wrong with. Is there a difference in performance between Bundle and ES Module? I always use the Bundle, everything works quickly.

[2019-06-08 16:06] khudia commented on #163
Thanks! It works. But as i say google now needs *.aab file to publish)

[2019-06-08 23:17] A1Gard commented on #167
@caiobiodere the select checking is not work too :( You can test it.

Why it's as a bug!

[2019-06-09 10:08] #163 closed, assigned to nobody

[2019-06-09 10:08] #162 closed, assigned to nobody

[2019-06-09 10:09] #164 closed, assigned to nobody

[2019-06-09 16:04] cemarta7 commented on #162
@caiobiodere thanks for the help that actually fix one of my problems and solve my issue by removing a library. Thanks for the quick answer. I will be sure to patreon this project

[2019-06-09 19:46] farzady commented on #167
I have the same problem too, can someone be kind and answer!

[2019-06-09 21:59] caiobiodere commented on #167
Okay, I've fixed your problem it was happening because the Vue page was using separate components instead of the whole bundle. If you want to check it out, please go to the about page on the new template version.

Please check this last version: https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/releases/tag/2.4.1

[2019-06-09 21:59] caiobiodere commented on #166
@VisualMafia I've done the changes to the whole bundle right here: https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/releases/tag/2.4.1

[2019-06-09 21:59] #166 closed, assigned to nobody

[2019-06-10 14:53] VisualMafia opened #168 "cordova build ios --release bug"
If used cordova build ios --release
The application is building, running, but not working. In the log, I see that there is no Cordova.
Is it all or just me? The latest version of the template

`exception nativeEvalAndFetch : ReferenceError: Can't find variable: cordova`

[2019-06-10 21:32] izengliang opened #169 "How to update template?"
How to update template?

[2019-06-10 22:46] farzady commented on #167
@caiobiodere with which commands i can install the new update ?
[code]
i have tested these commands but it does not working ..
I wonder Is it possible meybe it has been cached?

[2019-06-11 08:35] caiobiodere commented on #169
well there is no exact way on this project, but if you want to update a project you would need to copy all the necessary files such as (webpack, plugins, etc.) into your project.

[2019-06-11 08:36] caiobiodere commented on #167
this command should do the work:
`cordova create <project_create_dir> [com.example.projectname] [ProjectClassName] --template cordova-template-framework7-vue-webpack
`

have you checked if your Cordova and npm versions are up to date?

[2019-06-11 21:21] A1Gard commented on #167
@caiobiodere It's work find Thanks for your help

[2019-06-11 21:21] #167 closed, assigned to nobody

[2019-06-16 21:50] caiobiodere commented on #168
@VisualMafia I've fixed your issue the problem was happening because Cordova js main file is supposed to be in index.html file for release and development environments, please include this plugin to your release web pack config file:

`
const CordovaHtmlOutputPlugin = require('../webpack/plugins/CordovaHtmlOutputPlugin.js');
new CordovaHtmlOutputPlugin()
`

If you want to make sure that you are do

[2019-06-18 08:05] VisualMafia commented on #168
Working, thanks

[2019-06-18 08:05] #168 closed, assigned to nobody

[2019-06-21 09:30] VisualMafia opened #170 "Live reload & API requests"
I use last version.
Live reload & API requests not working.
Only Request Method: OPTIONS
How can I fix this so that all types of requests are available, as in a simple build?

[2019-06-26 03:06] cemarta7 opened #171 "white screen on fresh template android/ios"
So I have a fresh install and I get a white screen on android and on ios.

cordova 9.0.0 (cordova-lib@9.0.1)
npm 6.9.0
node v11.0.0

package.json
"dependencies": {
    "@fortawesome/fontawesome-free": "^5.8.2",
    "cordova-android": "^8.0.0",
    "cordova-browser": "^5.0.4",
    "cordova-ios": "^5.0.1",
    "fastclick": "^1.0.6",
    "framework7": "^3.6.5",
    "framework7-icons": "^2.1.1",
    "

[2019-06-26 04:46] cemarta7 commented on #171
Ok I was able to make it work with Cordova 8.1.2 and these two templates.

cordova create cordova-template com.template DefaultTemplate --template git://github.com/caiobiodere/cordova-template-framework7-vue-webpack.git#master

and

cordova create cordova-template com.template DefaultTemplate --template git://github.com/caiobiodere/cordova-template-framework7-vue-webpack.git#feature/v3-default-tem

[2019-06-26 05:28] cemarta7 commented on #171
Ok, find the issue.
`
<f7-view url="/" :main="true" :push-state="push_state" class="ios-edges"></f7-view>
`
I used push-state true for web but when true on android or iphone was not loading. so I have to add
`this.$f7router.navigate('/');` on main.vue so it pushes the first page.

[2019-06-26 05:28] #171 closed, assigned to nobody

[2019-06-26 06:08] caiobiodere commented on #170
Oh, that's weird, Could you explain to us how are you building and using those API's, please?

[2019-06-26 06:11] caiobiodere commented on #169
I am just closing it for now but in the future, I promise that I will bring something better to update an existing template

[2019-06-26 06:11] #169 closed, assigned to nobody

[2019-06-26 21:23] syntacticsolutions commented on #7
if I do this dynamically it doesn't work.

I tried doing the above example with dynamic data and it didn't work.

[2019-06-26 23:30] agfp commented on #7
Define the following mixin on main.js:

[code]

Then reference it in the HTML:

[code]

[2019-06-27 10:52] izengliang opened #172 "webpack out file question"
# Error
![image](https://user-images.githubusercontent.com/8503065/60260445-35a25880-990c-11e9-957b-60aec528b9c7.png)

### shell
[code]

# About Code
### config/webpack.common.js
[code]

### tsconfig.json
[code]

### User.ts
[code]

[2019-07-01 16:24] VisualMafia commented on #170
I use Axios. If i build apk or IOS, not problems. Problem only If i run this (sample): cordova run android -- --lr

[2019-07-02 09:19] caiobiodere commented on #170
is that working in iOS devices? cordova run ios -- --lr

[2019-07-02 09:24] caiobiodere commented on #172
@leozale could you please just check this link first ->
https://alexjover.com/blog/integrate-typescript-in-your-vue-project/

[2019-07-04 03:12] ducdm87 opened #173 "how do use admob"
I am using this template for my app. I want to use [phonegap admob](https://www.npmjs.com/package/phonegap-admob). I didn't found document say about it.
I try use admob in code vue file, but admob is undefined.

Please help me.

[2019-07-04 15:43] VisualMafia commented on #170
No. I use default webview.

[2019-08-09 16:09] lastees opened #174 "Error webpack build android release"
Hello
Command `cordova build android` is work . But I've got this error when i launch `cordova build android --release`  :
[code]
I use this versions:
[code]
Thank you

[2019-09-12 10:58] VisualMafia commented on #170
If add this to server, then working: access-control-allow-headers: authorization,Authorization,access-control-allow-origin,Access-Control-Allow-Headers

[2019-09-12 10:58] #170 closed, assigned to nobody

[2019-09-12 16:48] khudia opened #177 "platform browser on macos"
First i'm building all things for browser platform and then add native functionality but when i run
"cordova run browser -- --lr" on win10 then all is good and i can work with, for example, native-storage-plugin. But if i do the same on my note (macos mohave) then i got error
"http://127.0.0.1:8081/platform_cordova_files/browser/cordova.js 404 Not found" so no plugin that supports browser platform

[2019-09-22 00:32] caiobiodere commented on #173
this is duplicated of https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/issues/111

[2019-09-22 00:32] #173 closed, assigned to nobody

[2019-09-22 01:09] caiobiodere commented on #177
Hi @khudia hope you are having a good day, I just did some tests with your comments and everything seems to work perfectly now, could you please try it again with the new [2.4.3 Version](https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/releases/tag/2.4.3)

[2019-09-22 01:11] caiobiodere commented on #174
Hi @lastees hope you are having a good day, I just did some tests with your comments, and everything seems to work perfectly now, could you please try it again with the new [2.4.3 Version](https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/releases/tag/2.4.3)

[2019-09-22 01:11] caiobiodere commented on #172
Hi @zalelion hope you are having a good day, I just did some tests with your comments, and everything seems to work perfectly now, could you please try it again with the new [2.4.3 Version](https://github.com/caiobiodere/cordova-template-framework7-vue-webpack/releases/tag/2.4.3)

[2019-09-22 01:11] #172 closed, assigned to nobody

[2019-09-24 03:19] caiobiodere commented on #177
I am considering it as closed. Please let me know in case of any errors appears to you

[2019-09-24 03:19] #177 closed, assigned to nobody

[2019-09-24 03:19] caiobiodere commented on #174
I am considering it as closed. Please let me know in case of any errors appears to you

[2019-09-24 03:19] #174 closed, assigned to nobody

[2019-09-25 16:38] lastees commented on #174
@caiobiodere I'll let you know if something goes wrong.
Thanks for your template)

[2019-10-09 08:11] YuannaLiang commented on #18
Is problem fixed?

[2019-10-15 14:44] i-no opened #178 "Error for cordova build browser --release"
I'm using latest framework7-vue-webpack template. When I'm trying to build the app with `cordova build browser --release`, I'm getting an error message:

I think the problem is related with update of `clean-webpack-plugin` to the 3.0.0 version. They changed options and parameters list for this plugin.

I fixed this problem by changing `config/webpack.release.js` file:

[code]
But I'm not sure if t

[2019-11-02 13:21] nelsonota opened #179 "Not work in Linux"
On Linux, I followed the walkthrough and it doesn't work.

When I will execute the message appears:

Cannot find module 'q'

[2019-11-02 13:41] #179 closed, assigned to nobody

[2019-11-08 03:20] cr1sti4n opened #180 "not work reload"
how run live reload?,
i edited file vue,  not view changes

[2019-12-02 04:49] caiobiodere commented on #180
just try it again using the new release please

[2019-12-02 04:49] #180 closed, assigned to nobody

[2020-01-07 12:12] salomon-thomas commented on #7
[object%20Module]:1 GET http://domain.com/my-app/[object%20Module] 404 (Not Found)

      image: require("@/assets/images/souq_chat-logo.jpg")
Why am I getting this error?

[2020-01-08 08:56] caiobiodere commented on #178
thank you mate, I just fixed it on the new 2.4.4 version

[2020-01-08 08:57] #178 closed, assigned to nobody

[2020-03-11 13:41] mikenowakme opened #182 "How do I get to the cordova object to access plugins in this template?"

[2020-03-11 14:23] mikenowakme commented on #182
It turns out the CordovaHtmlOutputPlugin was disabled.

[2020-03-11 14:23] #182 closed, assigned to nobody

[2020-03-18 22:07] jeremywarne opened #183 "Can't connect to livereload from android device"
My laptop and phone are both on the same wifi network. When I run `cordova run android -- --lr` the phone tries to connect to 192.168.1.18:8081 (laptop's IP), but fails to connect. I can connect to this URL in the phone's browser and correctly get a bunch of JS alerts.

I'm wondering if somehow the app isn't getting its `<allow-navigation href="*"/>` entitlement correctly...? I've tried adding tha

[2020-04-02 14:19] web-2017 commented on #94
its work for me, thanks

[2020-06-05 08:13] imrealashu opened #184 "Tapable.plugin is deprecated. Use new API on `.hooks` instead"
Webpack build completed to www folder successfully!
Error happened on main chain:
Error: Error happened when webpack build: Error: Command failed: "/Users/imrealashu/Playground/framework7-vue/node_modules/.bin/webpack"
(node:8813) DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead

    at /Users/imrealashu/Playground/framework7-vue/hooks/hookers.js:184:34
    at Chil

[2020-07-02 07:10] anilwarbhe opened #185 "lazy dynamic component import not working."
Why dynamic component import in router throwing error?
[code]

[2020-07-02 07:31] itsyub commented on #185
You can use `const vueComponent = await import('./assets/vue/pages/about.vue')`;

[2020-07-02 16:20] anilwarbhe commented on #185
ERROR in ./src/routes.js
Module build failed (from ./node_modules/babel-loader/lib/index.js):
SyntaxError: await is a reserved word (563:27)

  561 |     async(routeTo, routeFrom, resolve, reject) {
  562 |       // dynamic import component; returns promise

      |                            ^
  564 |       // const vueComponent = () => import('./assets/vue/pages/aboutus.vue');
  565 |       // r

[2020-07-02 16:40] itsyub commented on #185
it seems you haven't installed babel-preset-env package.
Revert to `const vueComponent = () => import('./assets/vue/pages/about.vue');`  and  run
`npm install --save-dev babel-preset-env ` to install package
and create file `.babelrc` with following content.
[code]
i think this will fix the babel compiling error.

[2020-07-03 05:26] anilwarbhe commented on #185
babel-preset-env is already installed as I am using THIS template. It's there in json file. But as you mentioned I have created a .babelrc file and copied the content you had asked but still receiving the same error.

[2020-08-26 04:58] casyalex opened #186 "Sourcemap can't locate the right Line when Debug."
And it can't set breakpoints on console properly.
for example:
It show log in Line 301;
![image](https://user-images.githubusercontent.com/5988630/91256921-3302f380-e79b-11ea-94a3-1980f20c9c61.png)

but actually it is in Line 299
![image](https://user-images.githubusercontent.com/5988630/91257095-9c830200-e79b-11ea-8327-9559254c9ae0.png)

And it only happens in Vue file. other Js file is fine. I t

[2020-09-10 05:26] emforem commented on #7
Here is my solution. Using filter.
[code]
and in your .vue you can use
`<img :src="'imagefile.png' | img">`

This should save you from writing require in every :src.

[2020-10-12 23:28] zainkhalid93 commented on #94
It works...

[2020-12-28 14:55] Greathyx commented on #94
It works for me. Thanks!

[2021-03-05 08:36] demchenkodenis commented on #183
Did you found a solution?

[2021-04-26 05:49] coordproyectosticsocbp commented on #94
Works Fine for me. Thanks So Much!

[2021-05-03 16:54] proger-coder commented on #7
unfortuntately, doesnt work in Vue3+ParcelJS.
Alt text shown instead of img

[2021-05-19 12:02] Be-Like commented on #7
@DIMANVAZ Have you found a workaround yet?

[2021-05-20 21:46] Jack-Drake commented on #110
Ahhh. But it would have been a really good idea to make one because it would end up growing as a project.

[2021-08-02 18:25] FahimHassanMollah commented on #7
This works for me

 data(){
        return {
            logo:require('@/assets/cherry.png')
        }
    }

[2021-09-09 13:25] RayendraSabandar commented on #94
Works instantly. Thanks a lot

[2021-10-25 06:17] linehammer commented on #62
Detecting mobile device using user agent isn't the best way to check if a user is using a mobile device since user agent strings can be spoofed easily. However, this method is still an easy way to check what device is being used by the user.

 There is a JavaScript API built-in for detecting media. The JavaScript window.matchMedia() method returns a MediaQueryList object representing the results o

[2021-12-02 21:29] danielsaps commented on #183
Same problem here

[2021-12-12 11:46] i365 commented on #185
I fix it:

\config\webpack.common.js
loader: 'babel-loader' add plugin: `'syntax-dynamic-import'`

then:
```npm install babel-plugin-syntax-dynamic-import@6.18.0 -D```

[2021-12-12 11:52] En777 commented on #185
I fix it:

\config\webpack.common.js
loader: 'babel-loader' add plugin: `'syntax-dynamic-import'`

then:
```npm install babel-plugin-syntax-dynamic-import@6.18.0 -D```

Unexpected token webpack import() error will be ok.

[2022-06-11 01:45] rtaparay commented on #184
any solution?, I have the same error
I want to use it for a new project
![36](https://user-images.githubusercontent.com/50549119/173167990-4a8b95d1-864e-436c-8f29-719a8395e99d.png)
![37](https://user-images.githubusercontent.com/50549119/173168006-3f1c0078-0be8-403f-9196-e2a5c68afe81.png)

@caiobiodere  help please

[2022-08-10 13:41] Vinnie881 opened #187 "Noob, cannot add plugin, what am I doing wrong?"
I am trying to add this share plugin:
cordova plugins add https://github.com/markmarijnissen/cordova-plugin-share.git

I just get an error saying the directory doesnt exist??.  I am also running on a linux box, if I want to debug on a IOS Simulator do I just install on my mac local instead as a better practice?

I am so lost... Then to add a plugin to my vue framework7 app, is there anything speci